.thumbnails{
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    font-size: 0;
}
.ul-product{
    display: block;
    width:18%;
}
ul > li > label{
    font-size:13px;
}
.li-product_color1{
    margin: 15px auto;
    cursor: pointer;
    position: relative;
    right: 20px;
}
.li-product_color1>img{
    width:100%;
    border:1px solid lightgrey;
}
.li-product_color2{
    margin: 15px auto;
    cursor: pointer;
    position: relative;
    right: 20px;
    display:none;
}
.li-product_color2 >img{
    width:100%;
    border:1px solid lightgrey;
}
.li-product_color3{
    margin: 15px auto;
    cursor: pointer;
    position: relative;
    right: 20px;
    display:none;
}
.li-product_color3 >img{
    width:100%;
    border:1px solid lightgrey;
}
.color{
    display:inline-flex;
}
.color2{
    margin:10px;
    width: 30px;
    height: 30px;
    background: #677b99;
    border: 1px solid;
    cursor: pointer;
    border-radius: 50%;
}
.color3{
    margin:10px;
    width: 30px;
    height: 30px;
    background: rgb(225, 222, 196);
    border: 1px solid;
    cursor: pointer;
    border-radius: 50%;
}
.color1{
    margin:10px;
    width: 30px;
    height: 30px;
    background: black;
    border: 1px solid;
    cursor: pointer;
    border-radius: 50%;
}
.color1:hover{
    transform: scale(1.05,1.05);
}
.color2:hover{
    transform: scale(1.05,1.05);
}
.color3:hover{
    transform: scale(1.05,1.05);
}
.product_name{
    font-size:20px;
    font-weight: 600;
}
@media only screen and (min-width:320px){
    
    .col-xs-4{
        max-width:33% !important;
    }
    .col-xs-4 > p{
        font-size: 8px !important;
    }
    .col-xs-4 > img{
        width:30px !important;
    }
    .col-xs-4 > .icon1{
        margin-top:10px !important;
    }
    .section1_text_line1{
        font-size:25px !important;
    }
    .section1_text_line2{
        font-size:13px !important;
        padding:0 !important;
    }
    .section2_text_line1{
        font-size:25px !important;
    }
    .section2_text_line2{
        font-size:13px !important;
        padding:0 !important;
    }
    .section3_text_line1{
        font-size:25px !important;
    }
    .section3_text_line2{
        font-size:13px !important;
        padding:0 !important;
    }
    .section4_text_line1{
        font-size:25px !important;
    }
    .section4_text_line2{
        font-size:13px !important;
        padding:0 !important;
    }
    .section5_text_line1{
        font-size:25px !important;
    }
    .section5_text_line2{
        font-size:13px !important;
        padding:0 !important;
    }
    .section6_text_line1{
        font-size:25px !important;
    }
    .section6_text_line2{
        font-size:13px !important;
        padding:0 !important;
    }
    .storage{
        position: inherit !important;
        padding:0 !important;
    }
    .section7_text_line1{
        font-size:20px !important;
    }
    #face {
        padding: 0 !important;
    }

    #face>li {
        display: block !important;
    }

    #face>li>img {
        position: relative;
        left: calc((100% - 60px) / 2);
        margin: 30px auto !important;
    }

    .row.face {
        margin-left: 0 !important;
    }

    .row.face>label {
        font-size: 20px !important;
        padding: 0 0 0 5% !important;
        width: 100% !important;
    }

    .row.face>p {
        font-size: 10px !important;
        padding: 0 5% !important;
    }

    #finger {
        padding: 0 !important;
    }

    #finger>li {
        display: block !important;
    }

    #finger>li>img {
        position: relative;
        left: calc((100% - 60px) / 2);
        margin: 30px auto !important;
    }

    .row.finger {
        margin-left: 0 !important;
    }

    .row.finger>label {
        font-size: 20px !important;
        padding: 0 0 0 5% !important;
        width: 100% !important;
    }

    .row.finger>p {
        font-size: 10px !important;
        padding: 0 5% !important;
    }
    .animation_half-partition_unlock{
        position: relative !important;
        padding: 0 !important;
    }


    .animation_half-partition_unlock>label {
        font-size: 30px !important;
        line-height: 50px !important;
        text-align: center;
        width: 100% !important;
    }

    .animation_half-partition_unlock>p {
        font-size: 13px !important;
        text-align: center;
        width: 100% !important;
    }
    .half_partition_1{
        position: inherit !important;
        padding:0 !important;
    }
    .half_partition2{
        position: inherit !important;
        padding:0 !important;
    }
    .section8_text_line1{
        width:100% !important;
        font-size:25px !important;
        text-align: center !important;
        
    }
    .section8_text_line2{
        font-size:13px !important;
        text-align: center !important;
        padding:0 15px !important;
    }
    .section9_text_line1{
        font-size:25px !important;
        text-align: center !important;
        width:100% !important;
        
    }
    .section9_text_line2{
        font-size:13px !important;
        text-align: center !important;
    }
}
@media only screen and (min-width:768px){
    
    .col-xs-4{
        max-width:33% !important;
    }
    .col-xs-4 > p{
        font-size: 8px !important;
    }
    .col-xs-4 > img{
        width:30px !important;
    }
    .col-xs-4 > .icon1{
        margin-top:10px !important;
    }
    .section1_text_line1{
        font-size:30px !important;
    }
    .section1_text_line2{
        font-size:15px !important;
        padding:0 !important;
    }
    .section2_text_line1{
        font-size:30px !important;
    }
    .section2_text_line2{
        font-size:15px !important;
        padding:0 !important;
    }
    .section3_text_line1{
        font-size:30px !important;
    }
    .section3_text_line2{
        font-size:15px !important;
        padding:0 !important;
    }
    .section4_text_line1{
        font-size:30px !important;
    }
    .section4_text_line2{
        font-size:15px !important;
        padding:0 !important;
    }
    .section5_text_line1{
        font-size:30px !important;
    }
    .section5_text_line2{
        font-size:15px !important;
        padding:0 !important;
    }
    .section6_text_line1{
        font-size:30px !important;
    }
    .section6_text_line2{
        font-size:15px !important;
        padding:0 !important;
    }
    .storage{
        position: inherit !important;
        padding:0 !important;
    }
    .section7_text_line1{
        font-size:30px !important;
    }
    #face {
        padding: 0 !important;
    }

    #face>li {
        display: block !important;
    }

    #face>li>img {
        position: relative;
        left: 5%;
        margin: 0px auto !important;
    }

    .row.face {
        margin-left: 0 !important;
    }

    .row.face>label {
        font-size: 20px !important;
        padding: 0 0 0 5% !important;
        width: 100% !important;
    }

    .row.face>p {
        font-size: 15px !important;
        padding: 0 5% !important;
    }

    #finger {
        padding: 0 !important;
    }

    #finger>li {
        display: block !important;
    }

    #finger>li>img {
        position: relative;
        left: 5%;
        margin: 0px auto !important;
    }

    .row.finger {
        margin-left: 0 !important;
    }

    .row.finger>label {
        font-size: 20px !important;
        padding: 0 0 0 5% !important;
        width: 100% !important;
    }

    .row.finger>p {
        font-size: 15px !important;
        padding: 0 5% !important;
    }
    .animation_half-partition_unlock{
        position: relative !important;
        padding: 0 !important;
    }


    .animation_half-partition_unlock>label {
        font-size: 30px !important;
        line-height: 50px !important;
        text-align: center;
        width: 100% !important;
    }

    .animation_half-partition_unlock>p {
        font-size: 13px !important;
        text-align: center;
        width: 100% !important;
    }
    .half_partition_1{
        position: inherit !important;
        padding:0 !important;
    }
    .half_partition2{
        position: inherit !important;
        padding:0 !important;
    }
    .section8_text_line1{
        width:100% !important;
        font-size:20px !important;
        text-align: left !important;
        padding: 0 15px !important;
        margin-top:15% !important;
        
    }
    .section8_text_line2{
        font-size:15px !important;
        text-align: left !important;
        padding:0 15px !important;
    }
    .section9_text_line1{
        font-size:25px !important;
        text-align: left !important;
        width:100% !important;
        margin-top:15% !important;
        padding:0 15px !important;
        
    }
    .section9_text_line2{
        font-size:13px !important;
        text-align: left !important;
        padding:0 15px !important;
    }
}
@media only screen and (min-width:1024px){
    
    .col-xs-4{
        max-width:33% !important;
    }
    .col-xs-4 > p{
        font-size: 13px !important;
    }
    .col-xs-4 > img{
        width:50px !important;
    }
    .col-xs-4 > .icon1 {
        margin-top:10px !important;
        margin-bottom:5px !important;
    }
    .section1_text_line1{
        font-size:40px !important;
    }
    .section1_text_line2{
        font-size:17px !important;
        padding:0 10% !important;
        margin-bottom:10% !important;
    }
    .section2_text_line1{
        font-size:40px !important;
    }
    .section2_text_line2{
        font-size:15px !important;
        padding:0 10% !important;
    }
    .section3_text_line1{
        font-size:40px !important;
    }
    .section3_text_line2{
        font-size:17px !important;
        padding:0 10% !important;
    }
    .section4_text_line1{
        margin-top:10% !important;
        font-size:30px !important;
    }
    .section4_text_line2{
        font-size:15px !important;
        padding:0 10% !important;
    }
    .section5_text_line1{
        font-size:30px !important;
    }
    .section5_text_line2{
        font-size:15px !important;
        padding:0 10% !important;
    }
    .section6_text_line1{
        font-size:30px !important;
        padding:0 0 0 10% !important;
    }
    .section6_text_line2{
        font-size:15px !important;
        padding:0 10% !important;
    }
    .storage{
        position: inherit !important;
        padding:0 !important;
    }
    .section7_text_line1{
        font-size:40px !important;
    }
    #face {
        padding: 0 !important;
    }

    #face>li {
        display: inline-flex !important;
    }

    #face>li>img {
        position: absolute;
        left: 5%;
        margin: 0px auto !important;
    }

    .row.face {
        margin-left: 0 !important;
    }

    .row.face>label {
        font-size: 20px !important;
        padding: 0 0 0 20% !important;
        width: 100% !important;
    }

    .row.face>p {
        font-size: 15px !important;
        padding: 0 20% !important;
    }

    #finger {
        padding: 0 !important;
    }

    #finger>li {
        display: block !important;
    }

    #finger>li>img {
        position: absolute;
        left: 5%;
        margin: 0px auto !important;
    }

    .row.finger {
        margin-left: 0 !important;
    }

    .row.finger>label {
        font-size: 20px !important;
        padding: 0 0 0 20% !important;
        width: 100% !important;
    }

    .row.finger>p {
        font-size: 15px !important;
        padding: 0 20% !important;
    }
    .animation_half-partition_unlock{
        position: relative !important;
        padding: 0 !important;
    }


    .animation_half-partition_unlock>label {
        font-size: 30px !important;
        line-height: 50px !important;
        text-align: center;
        width: 100% !important;
    }

    .animation_half-partition_unlock>p {
        font-size: 15px !important;
        text-align: center;
        width: 100% !important;
    }
    .half_partition_1{
        position: inherit !important;
        padding:0 !important;
    }
    .half_partition2{
        position: inherit !important;
        padding:0 !important;
    }
    .section8_text_line1{
        width:100% !important;
        font-size:30px !important;
        text-align: left !important;
        padding: 0 10% !important;
        margin-top:15% !important;
        
    }
    .section8_text_line2{
        font-size:15px !important;
        text-align: left !important;
        padding: 0 10% !important;
    }
    .section9_text_line1{
        font-size:30px !important;
        text-align: left !important;
        width:100% !important;
        margin-top:15% !important;
        padding: 0 10% !important;
        
    }
    .section9_text_line2{
        font-size:15px !important;
        text-align: left !important;
        padding: 0 10% !important;
    }
    .figure-banner-7{
        width:350px;
        margin:auto;
    }
    .figure-banner-7 > img {
        width:100%;
    }
}
@media only screen and (max-width:426px){
    .ul-product{
        width:20% !important;
    }
}
.py-4{
    visibility: hidden !important; 
}
.content-block{
    position: absolute;
    top: calc((100% - 140px) / 2);
    margin-left: 7%;
}
figure{
    margin-bottom:0;
}
.block-content-banner2{
    position: absolute;
    top:10%;
    margin: auto;
    left:0;
    right:0;
    text-align: center;

}
#finger{
    cursor: pointer;
}
#face{
    cursor: pointer;
}