.border-radius-25{
    border-radius: 25px;
}
.a-see-all{
    color:rgb(54, 54, 54) !important;
    transition: 0.5s;
    letter-spacing: 0.12em;
    font-weight: 500;
}
body{
    overflow-x: hidden;
}
.font-weight-500{
    font-weight: 500 !important;
}
.font-weight-600{
    font-weight: 600 !important;
}
.a-see-all:hover{
text-decoration: none !important;
color:black !important;
}
@media (max-width: 575.98px) {
    .mb-xs-5{
        margin-bottom:5rem;
    }
    .flex-image{
        flex:0 0 100%;
        max-width:100%;
        padding:0 20px;
        align-items: center;
        justify-content: center;
        margin:20px auto;
    }
    .image-size{
        width:200px;
        height:auto;
        margin:auto;
    }
    .image-size > img{
        width:100%;
    }
    .my-h1{
        font-size:20px;
    }
    .my-p{
        font-size:14px;
        padding:0 30px;
    }
    .mt-5{
        margin-top:30px !important;
    }
    .mb-5{
        margin-bottom:0 !important;
    }
    .mt-4{
        margin-top:30px !important;
    }
    .image-size-tablet{
        width:300px;
        height:auto;
        padding:0 30px;
        margin:auto;
    }
.image-size-tablet > img{
        width:100%;
    }
    .flex-content{
        padding:0 30px;
    }
    .product_content{
        font-size:14px;
    }
    .sub_figcaption{
        font-size:13px;
        color:#acacac;
    }
    .a-see-all{
        font-size:12px; 
    }
    
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .mb-xs-5{
        margin-bottom:5rem;
    }
    .flex-image{
        flex:0 0 100%;
        max-width:100%;
        padding:0 20px;
        align-items: center;
        justify-content: center;
        margin:20px auto;
    }
    .image-size{
        width:200px;
        height:auto;
        margin:auto;
    }
    .image-size > img{
        width:100%;
    }
    .my-h1{
        font-size:20px;
    }
    .my-p{
        font-size:14px;
        padding:0 30px;
    }
    .mt-5{
        margin-top:30px !important;
    }
    .mb-5{
        margin-bottom:0 !important;
    }
    .mt-4{
        margin-top:30px !important;
    }
    .image-size-tablet{
        width:300px;
        height:auto;
        padding:0 30px;
        margin:auto;
    }
.image-size-tablet > img{
        width:100%;
    }
    .flex-content{
        padding:0 30px;
    }
    .product_content{
        font-size:14px;
    }
    .sub_figcaption{
        font-size:13px;
        color:#acacac;
    }
    .a-see-all{
        font-size:12px; 
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .mb-xs-5{
        margin-bottom:5rem;
    }
    .flex-image{
        flex:0 0 100%;
        max-width:100%;
        padding:0 20px;
        align-items: center;
        justify-content: center;
        margin:20px auto;
    }
    .image-size{
        width:200px;
        height:auto;
        margin:auto;
    }
    .image-size > img{
        width:100%;
    }
    .my-h1{
        font-size:20px;
    }
    .my-p{
        font-size:14px;
        padding:0 30px;
    }
    .mt-5{
        margin-top:30px !important;
    }
    .mb-5{
        margin-bottom:0 !important;
    }
    .mt-4{
        margin-top:30px !important;
    }
    .image-size-tablet{
        width:300px;
        height:auto;
        padding:0 30px;
        margin:auto;
    }
.image-size-tablet > img{
        width:100%;
    }
    .flex-content{
        padding:0 30px;
    }
    .product_content{
        font-size:14px;
    }
    .sub_figcaption{
        font-size:13px;
        color:#acacac;
    }
    .a-see-all{
        font-size:12px; 
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .mt-5{
        margin-top:70px !important;
    }
    .mb-5{
        margin-bottom:70px !important;
    }
    .mt-4{
        margin-top:50px !important;
    }
    .flex-image{
        display: flex;
        flex: 0 0 30%;
        max-width:30%;
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }
    .flex-half{
        display: flex;
        flex: 0 0 50%;
        max-width:50%;
        padding: 0 20px;
        flex-direction: column;
    }
    .image-size{
        width:300px;
        height:auto;
        padding:30px;
    }
    .image-size-tablet{
        width:400px;
        height:auto;
        padding:30px;
    }
    .image-size > img{
        width:100%;
    }
    .image-size-tablet > img{
        width:100%;
    }
    .product_name{
        font-size:35px;
    }
    .product_content{
        font-size:16px;
        margin:20px auto;
        font-weight: 300;
    }
    .btn-outline-databar{
        width:130px;
        margin-top:20px;
        margin-top:20px;
    }
    .my-p{
        font-size:14px;
    }
    figcaption{
        font-size:18px !important;
    }
    .sub_figcaption{
        font-size:13px;
        font-weight: 400;
        color:#acacac;

    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .mt-5{
        margin-top:70px !important;
    }
    .mb-5{
        margin-bottom:70px !important;
    }
    .mt-4{
        margin-top:50px !important;
    }
    .flex-image{
        display: flex;
        flex: 0 0 30%;
        max-width:30%;
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }
    .flex-half{
        display: flex;
        flex: 0 0 50%;
        max-width:50%;
        padding: 0 20px;
        flex-direction: column;
    }
    .image-size{
        width:300px;
        height:auto;
        padding:30px;
    }
    .image-size-tablet{
        width:400px;
        height:auto;
        padding:30px;
    }
    .image-size > img{
        width:100%;
    }
    .image-size-tablet > img{
        width:100%;
    }
    .product_name{
        font-size:35px;
    }
    .product_content{
        font-size:16px;
        margin:20px auto;
        font-weight: 300;
    }
    .btn-outline-databar{
        width:130px;
        margin-top:20px;
        margin-top:20px;
    }
    .my-p{
        font-size:14px;
    }
    figcaption{
        font-size:18px !important;
    }
    .sub_figcaption{
        font-size:13px;
        font-weight: 400;
        color:#acacac;

    }
}