.thumbnails{
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    font-size: 0;
}
.ul-product{
    display: block;
    width:18%;
}
.li-product{
    margin: 15px auto;
    cursor: pointer;
    position: relative;
    right: 20px;
}
.li-product>img{
    width:100%;
    border:1px solid lightgrey;
}
li{
    font-size:16px;
}
label{
    font-size: 16px;
}
.small{
    font-size: 13px !important;
}
.product_name{
    font-size:20px;
    font-weight: bold;
}
#breadcrumb{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: 50px;
    left: 50px;
}