.column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-mange{
    padding: 0 10%;
}

.text-h2{
    letter-spacing: 2px;
}

p{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    color: gray;
}

.btn-outline-databar-blue{
    width: 200px;
}

.banner{
    background-color: #f9f9f9;
    padding: 5%;
}




@media (min-width: 768px) {


    .display-none-desktop{
        display: none;
    }


}

@media (max-width: 767.98px) {

    .banner{
        background-color: white;
        padding: 10%;

    }

    .display-none-mobile{
        display: none;
    }


    p{
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        color: gray;
        font-size: 13px;
    }
    h2{
        font-size: 20px;
    }


}
