// Body
$body-bg: #ffff;

// Typography
$font-family-sans-serif: 'Poppins', 'Prompt', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue:      #0066cc;
$indigo:    #6574cd;
$purple:    #9561e2;
$pink:      #f66d9b;
$red:       rgb(220, 0, 78) !default;
$orange:    #f6993f;
$yellow:    #ffed4a;
$green:     #38c172;
$teal:      #4dc0b5;
$cyan:      #6cb2eb;

