.thumbnails{
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    font-size: 0;
}
.ul-product{
    display: block;
    width:20%;
    padding: 0px 30px;
}
.li-product{
    margin: 15px auto;
    cursor: pointer;
    position: relative;
    right: 20px;
}
.li-product>img{
    width:100%;
    border:1px solid lightgrey;
}
.product_name{
    font-size:20px;
    font-weight: bold;
    margin:10px auto;
}

@media only screen and (min-width:320px){
    .ul-product{
        display: block;
        width:25%;
        padding: 0px 30px;
        list-style: none;
    }
    .li-product{
        margin: 10px auto;
        cursor: pointer;
        position: relative;
        right: 20px;
    }
    .breadcrumb{
        visibility: hidden !important;
    }
    .small{
        font-size:13px !important;
    }
}
@media only screen and (min-width:375px){
    .ul-product{
        display: block;
        width:23%;
        padding: 0px 30px;
        list-style: none;
    }
}
@media only screen and (min-width:425px){
    .ul-product{
        display: block;
        width:22%;
        padding: 0px 30px;
        list-style: none;
    }
}
@media only screen and (min-width:768px){
    .ul-product{
        display: block;
        width:23%;
        padding: 0px 30px;
        list-style: none;
    }
}
@media only screen and (min-width:1024px){
    .ul-product{
        display: block;
        width:20%;
        padding: 0px 30px;
        list-style: none;
    }
    .li-product{
        margin: 15px auto;
        cursor: pointer;
        position: relative;
        right: 20px;
    }
    .breadcrumb{
        visibility: visible !important;
    }
    #breadcrumb{
        margin-top:80px;
    }
}
