
.text-grey{
    color:grey;
}
.product-type{
    color:#223a7f;
    font-weight: 600;
}
.breadcrumb{
    position: relative;
    padding-top:0;
    padding-bottom: 0;
    font-size: 15px;
    margin: 20px;
    top: 7px;
}
.filter{
    margin: 30px auto;
    cursor: pointer;
    position: relative;
    width: 100%;
    background: white;
    border: none;
    color: black
}
.filter_text{
    cursor: pointer;
}
.filter_list{
    height: auto;
}
.more{
    position: absolute;
    right: 0;
    top: 5px;
    margin-right:30px;
}
.product_row1{
    text-align: center !important;
}
.product_row1:nth-child(-n+3){
    margin-top:30px !important;
}
.product_row4{
    text-align: center;
}
.product_row3{
    text-align: center;
}
@media only screen  and (min-width:320px){
    .section-text{
        width:100% !important;
    }
    .section-image{
        width:100% !important;
    }
    .display-4{
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    nav#breadcrumb{
        display: none !important;
    }
    .first_banner{
        margin-top:15% !important;
    }
    .block{
        top:calc((100% - 50px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 110px) / 2) !important;
        font-size:30px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .banner_content{
        position: absolute;
        top: calc((100% - 20px) / 2);
        left: 0;
        right:0;
        margin: auto;
        color:white;
        text-align: center;
    }
    .logo_sam4s{
        position: absolute;
        top: 20px;
        left:20px;
        width:70px;
        height: 40px;
    }
    .banner_content > label{
        font-weight: 300;
        line-height: 1.3em;
        font-size:16px;
    }
    .banner_content > .banner_content-line2:last-child::after{
        content:"";
        position: absolute;
        background: rgba(255, 255, 255, 0.753);
        width: 50px;
        height: 3px;
        bottom: -10px;
        left: calc((100% - 50px) / 2);
    }
    .product_name{
        font-size:20px;
        margin:10px auto;
    }
    h1{
        font-size:25px;
        margin-top:7%;
    }
    .h1-content{
        font-size:15px;
        margin:10px auto;
        text-align: center;
        padding:0 15px;
    }
    .product-type{
        font-size:15px;
        margin:15px auto;
    }
}
@media (min-width: 330px){
    .first_banner{
        margin-top:12% !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
}
@media (min-width: 375px){
    .first_banner{
        margin-top:10% !important;
    }
    .block{
        top:calc((100% - 50px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 140px) / 2) !important;
        font-size:35px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .logo_sam4s{
        position: absolute;
        top:20px;
        left:20px;
        width:70px;
        height: 40px;
    }
    .banner_content > .banner_content-line2:last-child::after{
        content:"";
        position: absolute;
        background: rgba(255, 255, 255, 0.753);
        width: 50px;
        height: 3px;
        bottom: -10px;
        left: calc((100% - 50px) / 2);
    }
    .product_name{
        font-size:20px;
        margin:10px auto;
    }
    .product-type{
        font-size:15px;
        margin:15px auto;
    }
    .banner{
        background-image: url('/images/sam4s/mobile-computer/img_main_visual_5.jpg');
        background-size:cover;
        height:250px;
        background-position: center;
    }
}
@media only screen  and (min-width:768px){
    .section-text{
        width: calc((90% + 100px) / 2) !important;
        float: right !important;
    }
    .section-image{
        width:calc((100% - 100px) / 2) !important;
    }
    .display-4{
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    .sumsung_type {
        flex: 0 0 32% !important;
        max-width: 32% !important;
    }
    
    .first_banner{
        margin-top:5% !important;
    }
    .block{
        top:calc(100% / 2) !important;
    }
    .block > label{
        left:calc((100% - 220px) / 2) !important;
        font-size:55px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .logo_sam4s{
        position: absolute;
        top: 40px;
        left:15px;
        width:90px;
        height: 40px;
    }
    .banner_content > .banner_content-line2:last-child::after{
        content:"";
        position: absolute;
        background: rgba(255, 255, 255, 0.753);
        width: 100px;
        height: 3px;
        bottom: -30px;
        left: calc((100% - 100px) / 2);
    }
    .banner_content{
        position: absolute;
        top: calc((100% - 50px) / 2);
        left: 0;
        right:0;
        margin: auto;
        color:white;
        text-align: center;
    }
    .banner_content > label{
        font-weight: 300;
        line-height: 1.3em;
        font-size:30px;
    }
    .product_name{
        font-size:20px;
        margin:10px auto;
    }
    h1{
        font-size:25px;
        margin-top:50px;
    }
    .h1-content{
        width:70%;
        margin:20px auto;
        text-align:center;
    }
    .product_row1:nth-child(3n+1){
        border-top: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .product_row1:nth-child(3n+2){
        border-top: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .product_row1:nth-child(3n+3){
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
}
@media (min-width: 1024px){
    nav#breadcrumb{
        display: block !important;
    }
    .logo_sam4s{
        position: absolute;
        top: 40px;
        left:40px;
        width:90px;
        height: 40px;
    }
    .first_banner{
        margin-top:0 !important;
    }
    .block{
        top:calc((100% - 220px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 300px) / 2) !important;
        font-size:80px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .h1-content{
        width:70%;
        text-align:center;
        margin:10px auto;
    }
    h1{
        margin-top:0px;
    }
    .product_name{
        font-size:20px;
        margin:10px auto;
    }
    .product_row1:nth-child(3n+1){
        border-top: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .product_row1:nth-child(3n+2){
        border-top: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .product_row1:nth-child(3n+3){
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .banner{
        background-image: url('/images/sam4s/mobile-computer/img_main_visual_5.jpg');
        background-size:cover;
        height:700px;
        background-position: center;
    }
}
@media (min-width: 1400px){
    nav#breadcrumb{
        display: block !important;
    }
    .first_banner{
        margin-top:0 !important;
    }
    .block{
        top:calc((100% - 220px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 360px) / 2) !important;
        font-size:110px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .banner_content{
        position: absolute;
        top: calc((100% - 200px) / 2);
        left: 0;
        right:0;
        margin: auto;
        color:white;
        text-align: center;
    }
    .banner_content > label{
        font-weight: 300;
        line-height: 1.5em;
        font-size:45px;
    }
    .logo_sam4s{
        position: absolute;
        top: 40px;
        left:5%;
        width:100px;
        height: 50px;
    }
    .banner_content > .banner_content-line2:last-child::after{
        content:"";
        position: absolute;
        background: rgba(255, 255, 255, 0.753);
        width: 200px;
        height: 3px;
        bottom: -40px;
        left: calc((100% - 200px) / 2);
    }
    .h1-content{
        width:60%;
        margin:10px auto;
        text-align:center;
    }
    .product_name{
        font-size:20px;
        margin:0;
    }
    .product-type{
        font-size:15px;
        margin:5px auto;
    }
    .row-product{
        margin:10px auto;
    }
    .product_row1:nth-child(3n+1){
        border-top: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .product_row1:nth-child(3n+2){
        border-top: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .product_row1:nth-child(3n+3){
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }
    .banner{
        background-image: url('/images/sam4s/mobile-computer/img_main_visual_5.jpg');
        background-size:cover;
        height:700px;
        background-position: center;
    }
}

.product_row2{
    text-align: center;
}
.learnmore{
    border-radius: 25px;
    font-size: 15px;
    width:140px;
    margin-bottom: 30px;
}
#more{
    margin-top:30px;
    margin-right:0 !important;
}