<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

	<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>

    RewriteEngine On

		# Handle Authorization Header
		RewriteCond %{HTTP:Authorization} .
		RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
		
		# Redirect for HTTPS
		RewriteCond %{SERVER_PORT} 80
		RewriteCond %{HTTP_HOST} !^www\.databar\.co.\th$ [NC]
		RewriteRule ^(.*)$ https://www.databar.co.th/$1 [L,R=301]

		# Redirect Trailing Slashes If Not A Folder...
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteCond %{REQUEST_URI} (.+)/$
		RewriteRule ^ %1 [L,R=301]

		# Handle Front Controller...
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteCond %{REQUEST_FILENAME} !-d
		RewriteRule ^(.*)$ index.php/$1 [L] 
		
		# Redirect to non-index.php url.
		RewriteCond %{THE_REQUEST} ^.*/index\.php
		RewriteRule ^index.php(.*)$ /$1 [R=301,L]
		
</IfModule>
