.ghz{
    font-size: 35px;
    font-weight: 600;
}
.border-right-solid{
    border-right: solid 1px #b5b5b5;
    padding: 30px;
}
.extra-line{
    font-size: 10px;
    text-align: center;
    padding: 0 5%;
}
.section3_text_line1{
    text-align: left;
    font-size: 40px;
}
.set-middle{
    padding:20px;
    display: flex;
    align-items: center;
    padding: 20px 100px;
}
.section1_text_line2{
    text-align: center;
    padding: 0 10%;
}
.margin-top{
    text-align: left;
    font-size: 15px;
    margin-top: 100px;
}
.set-closer{

        display: flex;
        align-items: center;
        padding: 20px 0 0 200px;
}
.text-js{

        display: flex;
        align-items: center;
        padding: 20px 0 200px 200px;
}
.section1_text_line2{
    /* text-align: left; */
}
.section3_text_line1{
    text-align: left;
    font-size: 50px;
}
.section1_text_line_svg{
    text-align: center;
}
.flex-full{
    flex-direction: row;
    display: flex;
    flex:0 0 50%;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin:auto;
  }
  .svg_camera_size{
    width:150px;
    height: auto;
    padding:20px;
    margin:auto;
    cursor: pointer;
  }
  .svg_camera_size > img{
    width:100%;
  }
  .svg_camera_wide_size{
    width:200px;
    height: auto;
    padding:20px;
    margin:auto;
    cursor: pointer;
  }
  .svg_camera_wide_size > img{
    width:60%;
  }
.long-text{
    padding:100px;
}
.select{
    color: rgb(38, 0, 255);
    border: 2px solid black;
    transition: 1s;
}

