.breadcrumb{
    position: relative;
    padding-top:0;
    padding-bottom: 0;
    font-size: 15px;
    margin: 20px;
    top: 7px;
}
.h1-breadcrumb{
    font-size:15px;
    font-family: 'SamsungOne 700' !important;
}
.filter{
    margin: 30px auto;
    cursor: pointer;
    position: relative;
    width: 100%;
    background: white;
    border: none;
    color: black
}
.filter_text{
    cursor: pointer;
}
.filter_list{
    height: auto;
}
.more{
    position: absolute;
    right: 0;
    top: 5px;
    margin-right:30px;
}
.product_row1{
    text-align: center !important;
    margin-top:30px !important;
}
.product_row4{
    text-align: center;
}
.product_row3{
    text-align: center;
}
@media only screen  and (min-width:320px){
    .section-text{
        width:100% !important;
    }
    .section-image{
        width:100% !important;
    }
    .display-4{
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    .product_row1 {
        /* border-bottom: 1px solid lightgray; */
        border-top: 1px solid lightgray;
    }
    .product_row1:last-child{
        border-right: 0px solid
    }
    .product_row2 {
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
    }
    .product_row2:last-child{
        border-right: 0px solid
    }
    nav#breadcrumb{
        display: none !important;
    }
    .first_banner{
        margin-top:15% !important;
    }
    .block{
        top:calc((100% - 50px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 110px) / 2) !important;
        font-size:30px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .logo_size{
        width:100px;
        height:auto;
        margin:auto;
        position:absolute;
        /* top: 20px; */
        right: 0px;
    }
    .logo_size > img{
        width:100%;
    }
}
@media (min-width: 330px){
    .first_banner{
        margin-top:12% !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
}
@media (min-width: 375px){
    .first_banner{
        margin-top:10% !important;
    }
    .block{
        top:calc((100% - 50px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 140px) / 2) !important;
        font-size:35px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
}
@media only screen  and (min-width:768px){
    .section-text{
        width: calc((90% + 100px) / 2) !important;
        float: right !important;
    }
    .section-image{
        width:calc((100% - 100px) / 2) !important;
    }
    .display-4{
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    .sumsung_type {
        flex: 0 0 32% !important;
        max-width: 32% !important;
    }
    .product_row1 {
        border-right: 1px solid lightgray !important;
        border-top: 1px solid lightgray !important;
        border-bottom: 0px solid !important; 
    }
    
    .product_row1:nth-child(3n+0){
        border-right: 0px solid !important;
    }
    .product_row2 {
        border-right: 1px solid lightgray !important;
        border-top: 1px solid lightgray !important;
        border-bottom: 0px solid !important; 
    }
    .product_row2:nth-child(3n+0){
        border-right: 0px solid !important;
    }
    .first_banner{
        margin-top:5% !important;
    }
    .block{
        top:calc(100% / 2) !important;
    }
    .block > label{
        left:calc((100% - 220px) / 2) !important;
        font-size:55px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
}
@media (min-width: 1024px){
    nav#breadcrumb{
        display: block !important;
    }
    .first_banner{
        margin-top:0 !important;
    }
    .block{
        top:calc((100% - 220px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 300px) / 2) !important;
        font-size:80px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .product_name{
        font-size:18px;
        margin:10px auto;
        height:50px;
    }
}
@media (min-width: 1400px){
    .logo_size{
        width:250px;
        height:auto;
        margin:auto;
        position:absolute;
        top: 20px;
        right:20px;
    }
    .logo_size > img{
        width:100%;
    }
    nav#breadcrumb{
        display: block !important;
    }
    .first_banner{
        margin-top:0 !important;
    }
    .block{
        top:calc((100% - 220px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 360px) / 2) !important;
        font-size:110px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .product_name{
        font-size:18px;
        margin:10px auto;
        height:50px;
    }
}
.product_row2{
    text-align: center;
}
.learnmore{
    border-radius: 25px;
    font-size: 15px;
    width:160px !important;
    margin-bottom: 30px;
    transition: 0.4s;
}
.learnmore:hover{
    background-color:#99CC33;
    color:white;
    border-color:rgb(123, 165, 40);

}
#more{
    margin-top:30px;
    margin-right:0 !important;
}