@media only screen and (min-width:320px) {
    .logo_42gears {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        top: calc((100% - 100px) / 2)
    }

    .logo_42gears>img {
        width: 350px;
    }
    .section_background{
        height:400px !important;
    }
    .banner_image {
        position: absolute;
        top: calc((100% - 40px) / 2) !important;
        right: 3% !important;
    }
    .banner_image > img{
width:100px !important;
    }
.background{
    width:100% !important;
    height:180px !important;
}
    .banner_text {
        position: absolute;
        top: calc((100% - 150px) / 2);
        left: 10%;
    }

    .banner_text_line1 {
        color: #6089d5;
        font-size: 15px;
        font-weight: bold;
        border-bottom: 4px solid #6089d5;
    }
    .banner_text_line2 {
        color: #000;
        font-size: 10px !important;
        font-weight: normal;
        margin-top: 0% !important;
        margin-bottom: 0;
        margin:5px auto !important;
    }
    .banner_text_line2::before{
        content:"\f00c";
        background-color:#6089d5;
        overflow: hidden;
        font-family: 'Font Awesome 5 Pro';
        color:white;
        margin-right: 10px;
        font-size: 10px;
        position: relative;
        bottom: 0px;
    }

    .banner_text_line3 {
        color: #6089d5;
        font-size: 9px;
        font-weight: normal;
        margin: 0;
        padding:0 10% 0 0;
    }

    .block-color {
        background-image: url('../../../../images/42gears/surevideo/Vr-Management-Banner-New.png');
        filter: opacity(60%);
        width: 100%;
        height: 200px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .block_color_content_animation {
        position: absolute;
        text-align: center;
        top: 0;
    }

    .section1_text_line1 {
        font-size: 23px;
        color: white;
        font-weight: bold;
        margin-top: 5%;
    }

    .section1_text_line2 {
        font-size: 10px;
        color: white;
        padding: 0 5%;
    }

    .section2_text_line1 {
        font-size: 30px;
        color: white;
        font-weight: bold;
        margin-top: 5%;
    }

    .section2_text_line2 {
        font-size: 13px;
        color: #6089d5;
    }
    .block2-color {
        background: #6089d5;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px !important;
    }
    figcaption{
        color:white;
        margin-top:20px;
    }
    .col-md-3{
        margin:30px auto;
    }
    .my_a:hover{
        text-decoration: none;
    }
    .icon_device_management:hover{
        transition-property: transform;
        transform: scale(1.05,1.05);
        transition-timing-function: ease;
        transition-duration: 1s;
    }
    .width_block_content {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .icon_device_management {
        width: 100px;
    }

    .col_icon_device {
        margin: 50px auto;
        display: block;

    }
    .icon_device_text_line1{
        color:#6089d5;
        font-size:20px;
        font-weight:bold;
        margin-left:0px !important;
        padding:0 5%;
    }
    .icon_device_text_line2{
        color:black;
        font-size:13px;
        margin-left:0px !important;
        padding:0 5%;
    }

    [data-aos^=block_color_animation][data-aos^=block_color_animation] {
        opacity: 0 !important;
        width: 0;

    }

    [data-aos^=block_color_animation][data-aos^=block_color_animation].aos-animate {
        opacity: 1 !important;
        width: 100%;
        transition-timing-function: ease-in-out;
        transition-duration: 1s;
    }


}

@media only screen and (min-width:768px) {
    .logo_42gears {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        top: calc((100% - 100px) / 2)
    }

    .logo_42gears>img {
        width: 600px;
    }
    .banner_image{
        top: calc((100% - 160px) / 2) !important;
    }
    .banner_image > img{
        width:300px !important;
    }
    .banner_text{
        top: calc((100% - 160px) / 2) !important;
    }
    .section_background{
        height:500px !important;
    }
    .block-color{
        height:300px !important;
    }
    .banner_text_line1{
        font-size:20px !important;
    }
    .banner_text_line2{
        font-size:13px !important;
    }
    .banner_text_line2{
        font-size:13px !important;
    }
    .section1_text_line1{
        font-size:40px !important;
    }
    .section1_text_line2{
        font-size:15px !important;
        padding: 0 10% !important;
    }
    .section2_text_line1{
        font-size:30px !important;
    }
    .section2_text_line2{
        font-size:18px !important;
    }
    .section2_text_line1_green{
        font-size:30px !important;
    }
    .section2_text_line2_green{
        font-size:18px !important;
    }

    .col_icon_device{
        display: -webkit-box !important;
        text-align:left;
    }
    .icon_device_text_line1{
        font-size:18px !important;
    }
    .icon_device_text_line2{
        font-size:10px !important;
    }
    .icon_device_text_line1_green{
        font-size:18px !important;
    }
    .icon_device_text_line2_green{
        font-size:10px !important;
    }
    .block2-color{
        height:1000px !important;
    }
    .block2-color_section2{
        height:600px !important;
    }
    .block2-color_section3{
        height:600px !important;
    }
    .ul_device{
        width:270px;
    }
    figcaption{
        color:white;
        margin-top:20px;
        font-size:15px !important;
    }
    .block2-color {
        background: #6089d5;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 340px !important;
    }
}

@media only screen and (min-width:1300px) {
    .logo_42gears {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        top: calc((100% - 100px) / 2)
    }

    .logo_42gears>img {
        width: 800px !important;
    }

    .background{
        height:inherit !important;
    }

    .banner_image {
        position: absolute;
        top: calc((100% - 200px) / 2) !important;
        right: 10%;
    }
    .banner_image > img{
        width:400px !important;
    }

    .banner_text {
        position: absolute;
        top: calc((100% - 460px) / 2) !important;
        left: 10%;
    }

    .banner_text_line1 {
        color: #6089d5;
        font-size: 50px !important;
        font-weight: bold;
        border-bottom: 4px solid #6089d5;
    }

    .banner_text_line2 {
        color: #000;
        font-size: 20px !important;
        font-weight: normal;
        margin-top: 0% !important;
        margin-bottom: 0;
        margin:20px auto !important;
    }
    .banner_text_line2::before{
        content:"\f00c";
        background-color:#6089d5;
        overflow: hidden;
        font-family: 'Font Awesome 5 Pro';
        color:white;
        margin-right: 10px;
        font-size: 15px;
        position: relative;
        bottom: 2px;
    }

    .block-color {
        background-image: url('../../../../images/42gears/surevideo/Vr-Management-Banner-New.png');
        filter: opacity(60%);
        width: 100%;
        height: 400px !important;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .section_background{
        height:800px !important;
    }
    .block_color_content_animation {
        position: absolute;
        text-align: center;
        top: 0;
    }

    .section1_text_line1 {
        font-size: 40px !important;
        color: white;
        font-weight: bold;
        margin-top: 5%;
    }

    .section1_text_line2 {
        font-size: 20px !important;
        color: white;
        padding: 0 5%;
    }

    .section2_text_line1 {
        font-size: 40px !important;
        color: white;
        font-weight: bold;
        margin-top: 5%;
    }

    .section2_text_line2 {
        font-size: 20px !important;
        color: #6089d5;
    }
    .block2-color {
        background: #6089d5;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px !important;
    }
    .block2-color_section2{
        background: rgb(238, 238, 238);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px !important;
    }
    figcaption{
        color:white;
        margin-top:20px;
    }
    .my_a:hover{
        text-decoration: none;
    }
    .icon_device_management:hover{
        transition-property: transform;
        transform: scale(1.05,1.05);
        transition-timing-function: ease;
        transition-duration: 1s;
    }
    .width_block_content {
        width: 1200px !important;
        margin: auto;
    }

    .icon_device_management {
        width: 100px !important;
    }

    .col_icon_os {
        margin: 50px auto;
        display: block !important;

    }
    .icon_device_text_line1{
        color:#6089d5;
        font-size:20px !important;
        font-weight:bold;
        margin-left:20px !important;
        width:360px !important;
    }

    [data-aos^=block_color_animation][data-aos^=block_color_animation] {
        opacity: 0 !important;
        width: 0;

    }

    [data-aos^=block_color_animation][data-aos^=block_color_animation].aos-animate {
        opacity: 1 !important;
        width: 100%;
        transition-timing-function: ease-in-out;
        transition-duration: 1s;
    }
}

figure {
    margin: 0;
}
