@media (max-width: 767.98px) {
    .col-mobile-1 {
        flex: 0 0 8.3333333333% !important;
        max-width: 8.3333333333% !important;
        }

        .col-mobile-2 {
        flex: 0 0 16.6666666667% !important;
        max-width: 16.6666666667% !important;
        }

        .col-mobile-3 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
        }

        .col-mobile-4 {
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333% !important;
        }

        .col-mobile-5 {
        flex: 0 0 41.6666666667% !important;
        max-width: 41.6666666667% !important;
        }

        .col-mobile-6 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
        }

        .col-mobile-7 {
        flex: 0 0 58.3333333333% !important;
        max-width: 58.3333333333% !important;
        }

        .col-mobile-8 {
        flex: 0 0 66.6666666667% !important;
        max-width: 66.6666666667% !important;
        }

        .col-mobile-9 {
        flex: 0 0 75% !important;
        max-width: 75% !important;
        }

        .col-mobile-10 {
        flex: 0 0 83.3333333333% !important;
        max-width: 83.3333333333% !important;
        }

        .col-mobile-11 {
        flex: 0 0 91.6666666667% !important;
        max-width: 91.6666666667% !important;
        }

        .col-mobile-12 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        }
    .for-desktop{
        display: none;
    }
    .section-2{
        height: 100vh;
        width: auto;
    }
    .video-banner{
        height: 53vh;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .bg-main-section1{
        background-image: url("/images/new-website/Bg_home-01.png");
        background-repeat: no-repeat;
        background-size:contain;
        height: 100vh;
    }
    .bg-main-section2{
        background-image: url("/images/new-website/Bg_home-02.png");
        background-repeat: no-repeat;
        background-size:contain;
        height: 100%;
        background-position-y:100%;
    }
    .figure{
        margin: 0px -14px 0rem;
    }

    .home-text{
        font-family: quicksand;
        text-align: right;
        font-size: 22px;
        margin-top: 6%;
        margin-right: 6%;
    }

    .home-text p{
        font-family: quicksand;

        margin-bottom: 0;
    }

    .home-text > h2{
        font-family: quicksand;
        text-align: right;
        font-size: 22px;
        margin-top: 1%;
        margin-right: 2%;
        font-weight: bold;
        font-size:30px;
        color:#4d4d4d;
    }

    .home-text > h3{
        font-family: Poppins;
        text-align: right;
        font-size: 22px;
        margin-top: 1%;
        margin-right: 2%;
    }
    .bg-footer{
        background-color:#4d4d4d;
        height: 136px;
        width: 511px;
    }
    a:hover{
        color: #b3b3b3;
    }
    .video-section{
        height: 346px;
        width: 684px;
    }
    .img-layout{
        margin-left: 55px;
    }

    .mobile-section-1{
        text-align: left !important;
    }

    .mobile-secttion1-icon{
        padding: 20px 0 ;
        margin: 0 !important;
    }
    .flex-m{
        display: flex;
        padding: 0 !important;
        margin-bottom: 20px;
    }
    .flex-m h3{
        font-size: 20px;
        margin-bottom: 0;
    }
    .flex-m p{
        font-size: 14px;
    }
}
