
.block-60{
    width: 60%;
    padding-left: 10%;
}

.feature{
    padding : 25px 15px;
}

.header-text{
    font-size: 28px;
    padding-bottom: 50px;
    padding-top:100px;
    font-weight: 400;
}
.content-box{
    font-weight: 400;
    padding-bottom: 100px;
}
.text-box{
    padding-bottom: 30px;
}

.background-text .text-header-white{
    color: #fff!important;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .text-content-white{
    color:white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.feature-item{
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.08);
    padding: 50px 30px;
    border-radius: 5px;
    min-height: 405px;
    max-height: 480px;
    text-align: center
}
.header-hov:hover{
    color: #84c43f;
    width: fit-content;
}

.green-block{
    background-color: #84c43f;
    color: white;
    font-size: 26px;
    line-height: 4;
}

.text-p{
    font-size: 14px;
    height: 145px;
    color: #777777;
}

.h-5{
    height: 60px;
}

.text-box h3{
    margin-bottom: 16px;
    font-weight: 400;
}

.feature-item:hover{
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.product-brand{
  width:100%;
  padding:20px 5%;
  /* background: #555; */
  position: relative;
}

.text-banner{
  text-align: center;
}

.section-3{
    padding: 5% 0;
}

.feature a{
  color: black;
}
.feature a:hover{
  text-decoration:none;
  color: #1d2d5a;
}

.background-text{
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top: calc((100% - 120px) / 2); */
  background: rgba(0, 0, 0, 0.4);
  top: 50%;
  transform: translate(0, -50%);
}
@media (min-width: 992px) {


    .bg-body2{
        background-image: url("../../../../images/ivymobility/landing-page/why-phone.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        background-size: cover;


    }
    .bg-body{
        background-image: url("../../../../images/ivymobility/landing-page/enabling-sales.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        background-size: cover;


    }
    .bg-body3{
        background-image: url("../../../../images/ivymobility/landing-page/industry-experience.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        background-size: cover;


    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

      .background-text .text-header-white {
            color: #fff !important;
            font-size: 30px;
            margin-bottom: 1rem;
        }
        .text-content-white{
            color:white;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            padding: 0 15px;
        }

        .header-text {
            font-size: 22px;
            padding-bottom: 50px;
            padding-top: 40px;
            font-weight: 400;
        }
        .block-60 {
            width: 100%;
            padding-left: 10%;

        }

        .text-box h3{
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 20px;
        }
        .text-box p{
            font-size: 13px;
            color: #353535;

        }

        .content-box {
            font-weight: 400;
            padding-bottom: 30px;
        }

        .header-hov{
            color: #84c43f;
        }
        .green-block{
            background-color: #84c43f;
            color: white;
            font-size: 20px;
            line-height: 4;
        }

}





@media screen and (max-width: 575.98px) {

  .background-text {
    top: 30%;
    /* height: 90px; */
  }
  .background-text .text-header-white {
        color: #fff !important;
        font-size: 30px;
        margin-bottom: 1rem;
    }
    .text-content-white{
        color:white;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        padding: 0 15px;
    }

    .header-text {
        font-size: 22px;
        padding-bottom: 50px;
        padding-top: 40px;
        font-weight: 400;
    }
    .block-60 {
        width: 100%;

    }

    .text-box h3{
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 20px;
    }
    .text-box p{
        font-size: 13px;
        color: #353535;

    }

    .content-box {
        font-weight: 400;
        padding-bottom: 30px;
    }
    .green-block {
        background-color: #84c43f;
        color: white;
        font-size: 15px;
        line-height: 2.5;
        padding: 0px 15px;
    }
    .header-hov{
        color: #84c43f;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {


    .background-text {
        top: 26%;
        /* height: 90px; */
      }
      .background-text .text-header-white {
            color: #fff !important;
            font-size: 30px;
            margin-bottom: 1rem;
        }
        .text-content-white{
            color:white;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            padding: 0 15px;
        }

        .header-text {
            font-size: 22px;
            padding-bottom: 50px;
            padding-top: 40px;
            font-weight: 400;
        }
        .block-60 {
            width: 100%;

        }

        .text-box h3{
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 20px;
        }
        .text-box p{
            font-size: 13px;
            color: #353535;

        }

        .content-box {
            font-weight: 400;
            padding-bottom: 30px;
        }
        .green-block {
            background-color: #84c43f;
            color: white;
            font-size: 15px;
            line-height: 2.5;
            padding: 0px 15px;
        }
        .header-hov{
            color: #84c43f;
        }

}
