@media only screen and (min-width:320px){

        .star2star_logo{
            text-align: center;
        }
        .star2star_logo > img{
            width:100%;
        }
        .starcloud_text{
            display: flex;
            flex:0 0 100%;
            max-width:100%;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            padding:0 15px;
        }
        .starcloud_text > h2{
            color:#1c1c63;
            font-size:20px;
            font-weight: bold;
        }
        .starcloud_text > p{
            color:black;
            font-size:12px;
            text-align: center;
        }
        .animated{
            animation-name: none !important;
        }
        .starcloud_content{
            font-size: 13px;
            padding:0 15px;
            color:#a3a3a3;
            text-align: center;
        }
        .border-right{
            border:none !important; 
        }
        .flex-1{
            text-align: center;
            display: block;
            /* flex:0 0 100%; */
            /* justify-content: center; */
            margin:inherit auto;
            /* flex-wrap: wrap; */
        }
        .flex-1 > img{
            margin-bottom:5%;
            width: 80%;
            margin:auto;
        }
        .flex-full{
            flex:1;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin:50px auto;
        }
        .building{
            height:60px;
        }
        .text_head{
            font-size:15px;
            color:#1c1c63;
            font-weight: bold;
            display: flex;
            align-items: center;
           justify-content: center;
            padding:0 15px;
            text-align: center;
        }
        .text_content{
            font-size:12px;
            padding:0 15px;
            text-align:center;
        }
        figcaption{
            font-size:20px;
            color:#1c1c63;
            font-weight: bold;
            margin:30px auto;
        }
        .icon{
            text-align: center;
        }
        .border-right{
            margin:50px auto;
        }
        .flex-1.left{
            align-content: center;
            justify-content: center;
            margin:10px auto;
            padding-bottom:30px;
        }
        .text_content.left{
            text-align: center;
                padding: 0 15px;
        }
        .voip_image{
            margin-bottom:80px !important;
        }
        .flex-1.no-margin{
            color:#1c1c63;
            font-weight: bold;
            margin:0;
            font-size:25px;
            margin-top:5%;
        }
        .myflexwrap{
            display: block !important;
        }
}



@media only screen and (min-width:1024px){
    .border-right{
        border-right:1px solid #dee2e6 !important; 
    }
    .star2star_logo{
        text-align: center;
    }
    .star2star_logo > img{
        width:80%;
        margin-top:0% !important;
    }
    .starcloud_text{
        display: flex;
        flex:0 0 100%;
        max-width:100%;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding:0 50px;
    }
    .starcloud_text > h2{
        color:#1c1c63;
        font-size:55px;
    }
    .starcloud_text > p{
        color:black;
        font-size:16px;
    }
    .animated{
        animation-name: fadeInUp !important;
    }
    .starcloud_content{
        font-size: 15px;
        padding:0 15%;
        color:#a3a3a3;
        margin-top:5%;
    }
    .flex-1{
        display: flex !important;
        flex:1;
        justify-content: center;
        margin:100px auto !important;
        flex-wrap: wrap;
    }
    .flex-1 > img{
        margin-bottom:5%;
        width:60%;
    }
    .flex-full{
        flex:1;
        display: flex !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
    }
    .text_head{
        font-size:20px;
        color:#1c1c63;
        font-weight: bold;
        display: flex;
        align-items: center;
        text-align: left;
        padding-left:0;
    }
    .text_content{
        font-size:15px;
        padding:0 10%;
        text-align:center;
    }
    figcaption{
        font-size:20px;
        color:#1c1c63;
        font-weight: bold;
        margin:30px auto;
    }
    .icon{
        text-align: center;
    }
    .border-right{
        border-right:1px solid lightgrey;
    }
    .flex-1.left{
        align-content: center;
        justify-content: left;
    }
    .text_content.left{
        text-align: left;
            padding: 0 10% 0 0;
    }
    .flex-1.no-margin{
        color:#1c1c63;
        font-weight: bold;
        margin:0;
        font-size:25px;
        margin-top:5%;
    }
    .myflexwrap{
        display: flex !important;
    }
    .building{
        height:inherit !important;
    }
    .voip_image{
        width:80% !important;
        margin:0 auto !important;
    }
}
