.body-standard{
    margin: 0 75px 0 120px;
}
.ghz{
    font-size: 35px;
    font-weight: 600;
}
.border-right-solid{
    border-right: solid 1px #b5b5b5;
    padding: 30px;
}
.extra-line{
    font-size: 10px;
    text-align: center;
}
.section3_text_line1{
    text-align: left;
    font-size: 40px;
}
.set-middle{
    padding:20px;
    display: flex;
    align-items: center;
    padding: 20px 100px;
}
.section1_text_line_svg{
    text-align: center;
    padding: 20px 100px;
}
/* .section1_text_line2{
    text-align: center;
} */
.section1_text_line2{
    text-align: center;
    padding: 0 10%;
}
.margin-top{
    text-align: left;
    font-size: 15px;
    margin-top: 100px;
}
.set-closer{

        display: flex;
        align-items: center;
        padding: 20px 0 0 200px;
}
.text-js{

        display: flex;
        align-items: center;
        padding: 20px 0 200px 200px;
}
/* .section1_text_line2{
    text-align: left;
} */
.section1_text_line_svg{
    text-align: center;
}
.flex-full{
    flex-direction: row;
    display: flex;
    flex:0 0 50%;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin:auto;
  }
.long-text{
    padding:100px;
}
.select{
    color: rgb(38, 0, 255);
    border: 2px solid black;
    transition: 1s;
}
.bg-body{
        background-image: url("/images/new-website/products/caterpillar/products/t20/BG_product-01.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        height: 100%;
        width: auto;
}
.card-title{
    font-size: 15px;
    font-weight: 600;
    color: #4a4a4a;
}
.text-sec1{
    font-size: 12px;
    font-weight: 200;
}
.accessory-list{
    font-size: 0;
    line-height: 0.5;
}
.accessory-list > li > img{
    width: 80%;
    box-shadow: 6px 6px 15px #b5b5b5bf;
    margin-bottom: 20px;
}
.position-absolute{
    top: 30%;
    text-align: center;
    margin: 0 32%;
}
.pic-1{
    display: none;
}

@media only screen and (min-width:992px){

    .text-box > li > p{
        margin-bottom: 5px;
        font-size: 13px;
    }
    .section-1{
        margin-top: 5%;
    }
    .section-1 > h2{

        color: #3399ff;
        font-size: 2vw;
        font-weight: 600;
        margin-bottom: 5%;
        text-align: center;
    }
    .text-1{
        border-bottom: solid 1px #4a4a4a14 ;
        margin-top: 7px;
    }
    .text-1 > h2{
        color: #3399ff;
        font-size: 1vw;
        font-weight: 400;
        margin-bottom: 0;

    }
    .text-1 > p{
        font-size: 1vw;
        font-weight: 200;
        color: #4a4a4a;
        margin-bottom: 0;
    }
    .section-2{
        margin-top: 5%;
    }
    .section-2 > div > div > p{
        color: #3399ff;
        font-size: 1.8vw;
        font-weight: 600;
        text-align: center;
        margin-top: 3%;
    }
    .pic-2{
        justify-content: center;
    }
}
@media only screen and (max-width:850px){
    .pic-1{
        display: block;
    }
    .video-1{
        display: none;
    }
    .pic-thumbnail{
        padding-left: 100px !important;
        margin-top: 0 !important;
    }
    .thumbnails{
        top: 130px;
    }
    .ul-product{
        width: 30% !important;
    }
    .d-bl{
        display: block !important;
    }
    .section-1{
        margin-top: 10%;
    }
    .head-text-1{
        text-align: start;
        margin-left: 5%;
    }
    .head-text-1 > h2{
        color: #3399ff;
        font-weight: 600;
    }
    .head-text-1 > h3{
        color: #3399ff;
        margin-top: 3%;
    }
    .head-text-1 > p{
        color: #4a4a4a;
        font-weight: 200;
    }
    .text-1{
        border-bottom: solid 1px #4a4a4a14 ;
        margin-top: 7px;
    }
    .text-1 > h2{
        color: #3399ff;
        font-weight: 400;
        margin-bottom: 0;
        font-size: 2.5vw;
    }
    .text-1 > p{
        font-weight: 200;
        color: #4a4a4a;
        margin-bottom: 0;
        font-size: 2.5vw;
    }
    .accessory-list{
        padding-inline-start: 0 !important;
    }
    .accessory-list li{
        text-align: center;
    }
    .accessory-list li img{
        width: 60% !important;
    }
    .accessory-list > li > h3{
        color: #4a4a4a;
        font-weight: 500;
        font-size: 2.5vw;
    }
    .text-3-1{
        text-align: center;
        margin-bottom: 5%;
        color: #3399ff;
    }
    .pic-2{
        justify-content: center;
    }
}
@media only screen and (max-width:500px){
    .body-standard {
        margin: 0px 25px 0 40px;
    }
    .d-sm-none {
        display: none !important;
    }
    .pic-thumbnail{
        padding-left: 50px !important;
        margin-top: 0 !important;
    }
}
