:root {
  --gamberjohnson-text: #388eb0; 
}

.font-12{
  font-size:12px;
}
.font-13{
  font-size:13px;
}
.font-30{
  font-size:30px !important;
}
.backdrop {
  width: 100%;
  height: 100vh;
  background: black;
}
.font-normal{
  font-weight: 300;
}
.head_block_text{
  font-weight: 600;
}

/* .logo > img {
  width: 350px;
  position: absolute;
  top: calc((100% - 80px) / 2);
  left: 0;
  right: 0;
  margin: auto;
} */
.flex{
  display: flex;
}
.my_small_text{
  font-size:14px;
  font-weight:300;
}
.banner {
  background: url("../images/ezgif.com-webp-to.jpg");
  width: 100%;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(50%, transparent), to(transparent));
  background: linear-gradient(to bottom, #000 0%, transparent 50%, transparent 100%);
  z-index: 2;
}

.title-banner {
  z-index: 3;
  left: 50%;
  top: 50%;
  width: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width:575.98px){
  .marginfromnavbar{
    margin-top:50px;
    margin-bottom:50px;
  }
  .logo_block{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 30px;
  }
  .logo_block > img{
    width: 100%;
  }
  .marginfromnavbar > img{
    height: 100%;
    width: 100%;
  }
  .text_block{
    position: absolute;
    left:0px;
    text-align: left;
    margin-top:10px;
    padding: 50px;
  }
  .text_block > p {
    color:var(--gamberjohnson-text);
    font-size:10px;
  }
 .block_image > picture > img{
   width:100%;
 }
  .flex{
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    text-align: center;
  }
  .detail{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .my_small_text{
    text-align: left;
    padding: 30px;
  }
  h3{
    font-size: 15px;
    font-weight: 600;
  }
  .content{
    padding:50px 30px 50px 30px;
  }
  .mt-xs{
    margin-top:50px;
  }
  .mb-xs{
    margin-bottom:30px;
  }
  .overlay{
    display: none;
  }
  .overlayleft{
    display: none;
  }
  .font-12{
    font-size:12px;
    padding:0 5% 0 0;
  }
  .font-13{
    font-size:12px;
    padding:0 5% 0 0;
  }
  .mobile_text{
    position: relative;
    background: white;
    margin: 0 !important;
    padding: 30px 0 30px 30px;
  }
  .mobile_text > h3 {
    color:black;
  }
  .reverse{
    flex-direction: column-reverse
  }
  .reverse >.left_block{
    margin: 30px auto;
  }
  .reverse >.left_block > .detail > .my_small_text{
    margin: 20px auto;
    padding:20px;
    font-size:12px;
  }
  .column_block{
    position: initial;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.98px){
  .marginfromnavbar{
    margin-top:50px;
    margin-bottom:50px;
  }
  .logo_block{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 30px;
  }
  .logo_block > img{
    width: 100%;
  }
  .marginfromnavbar > img{
    height: 100%;
    width: 100%;
  }
  .text_block{
    position: absolute;
    left:0px;
    text-align: left;
    margin-top:20px;
    padding: 50px;
  }
  .text_block > p {
    color:var(--gamberjohnson-text);
    font-size:12px;
  }
 .block_image > picture > img{
   width:100%;
 }
  .flex{
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    text-align: center;
  }
  .detail{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .my_small_text{
    text-align: left;
    padding: 30px;
  }
  h3{
    font-size: 25px;
    font-weight: 600;
  }
  .content{
    padding:50px 30px 50px 30px;
  }
  .mt-xs{
    margin-top:50px;
  }
  .mb-xs{
    margin-bottom:30px;
  }
  .overlay{
    display: none;
  }
  .overlayleft{
    display: none;
  }
  .font-12{
    font-size:10px;
    padding:0 20% 0 0;
  }
  .font-13{
    font-size:12px;
    padding:0 20% 0 0;
  }
  .mobile_text{
    position: relative;
    background: white;
    margin: 0 !important;
    padding: 30px 0 30px 30px;
  }
  .mobile_text > h3 {
    color:black;
  }
  .reverse{
    flex-direction: column-reverse
  }
  .reverse >.left_block{
    margin: 30px auto;
  }
  .reverse >.left_block > .detail > .my_small_text{
    margin: 20px auto;
    padding:20px;
    font-size:12px;
  }
  .column_block{
    position: initial;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
  .marginfromnavbar{
    margin-top:50px;
    margin-bottom:50px;
  }
  .logo_block{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 30px;
  }
  .logo_block > img{
    width: 100%;
  }
  .marginfromnavbar > img{
    height: 100%;
    width: 100%;
  }
  .text_block{
    position: absolute;
    left:10px;
    text-align: left;
    margin-top:50px;
    padding: 50px;
  }
  .text_block > p {
    color:var(--gamberjohnson-text);
    font-size:14px;
  }
 .block_image > picture > img{
   width:100%;
 }
  .flex{
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    text-align: center;
  }
  .detail{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .my_small_text{
    text-align: left;
    padding: 30px;
  }
  h3{
    font-size: 25px;
    font-weight: 600;
  }
  .content{
    padding:50px 30px 50px 30px;
  }
  .mt-xs{
    margin-top:50px;
  }
  .mb-xs{
    margin-bottom:30px;
  }
  .overlay{
    display: none;
  }
  .overlayleft{
    display: none;
  }
  .font-12{
    font-size:12px;
    padding:0 20% 0 0;
  }
  .font-13{
    font-size:13px;
    padding:0 20% 0 0;
  }
  .mobile_text{
    position: relative;
    background: white;
    margin: 0 !important;
    padding: 30px 0 30px 30px;
  }
  .mobile_text > h3 {
    color:black;
  }
  .reverse{
    flex-direction: column-reverse
  }
  .reverse >.left_block{
    margin: 30px auto;
  }
  .reverse >.left_block > .detail > .my_small_text{
    margin: 20px auto;
    padding:20px;
    font-size:12px;
  }
  .column_block{
    position: initial;
  }
 }
 @media (min-width: 992px) and (max-width: 1199.98px) {
  .marginfromnavbar{
    margin-top:50px;
    margin-bottom:50px;
  }
  .logo_block{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 30px;
  }
  .logo_block > img{
    width: 100%;
  }
  .marginfromnavbar > img{
    height: 100%;
    width: 100%;
  }
  .text_block{
    position: absolute;
    left:10px;
    text-align: left;
    margin-top:50px;
    padding: 50px;
  }
  .text_block > p {
    color:var(--gamberjohnson-text);
    font-size:14px;
  }
 .block_image > picture > img{
   width:100%;
 }
  .flex{
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    text-align: center;
  }
  .detail{
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .my_small_text{
    text-align: left;
    padding: 30px;
  }
  h3{
    font-size: 25px;
    font-weight: 600;
  }
  .content{
    padding:50px 30px 50px 30px;
  }
  .mt-xs{
    margin-top:50px;
  }
  .mb-xs{
    margin-bottom:30px;
  }
  .overlay{
    display: none;
  }
  .overlayleft{
    display: none;
  }
  .font-12{
    font-size:12px;
    padding:0 20% 0 0;
  }
  .font-13{
    font-size:13px;
    padding:0 20% 0 0;
  }
  .mobile_text{
    position: relative;
    background: white;
    margin: 0 !important;
    padding: 30px 0 30px 30px;
  }
  .mobile_text > h3 {
    color:black;
  }
  .reverse{
    flex-direction: column-reverse
  }
  .reverse >.left_block{
    margin: 30px auto;
  }
  .reverse >.left_block > .detail > .my_small_text{
    margin: 20px auto;
    padding:20px;
    font-size:12px;
  }
  .column_block{
    position: initial;
  }
 }
@media only screen and (min-width:1200px){
  .overlay{
    display: block;
  }
  .overlayleft{
    display: block;
  }
  .text_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .text_block > h3{
    font-size:40px;
    font-weight: 600;
  }
  .text_block > p {
    color:var(--gamberjohnson-text);
  }
  .block_image{
    min-width: 1200px;
    height: auto;
    margin: auto;
  }
  .first_banner_margin{
    margin-top:200px;
    margin-bottom:50px;
  }
  h3{
    font-size: 20px;
    font-weight: 600;
  }
  .content{
    padding:50px 150px 0px 150px;
  }
  .flex{
    padding: 50px;
  }
  .left_block{
    width: 300px;
    height: auto;
    max-width: 40%;
    flex: 0 0 40%;
    margin: 0 5% 0 7%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .right_block{
    width: 300px;
    height: auto;
    max-width: 40%;
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .head_block_text{
    font-size:18px;
    display: flex;
    height: auto;
    align-items: center;
    margin:15px auto;
  }
  .detail{
    margin:20px auto;
    padding:0 14%;
  }
  figure{
    width: 400px;
    margin: 40px auto;
    height: 150px;
  }
  .banner-figure{
    width:1000px;
    height: auto !important;
    margin: auto;
  }
  .text_block.absolute-left{
    position: absolute;
    margin-top: calc((217px / 2));
    left: calc(0px + 15%);
  }
  .text_block.absolute-right{
    display: block;
    position: absolute;
    right: 0;
    width: 75%;
    margin-top: 7%;
    padding: 0 5% 0 30%;

  }
  .content-padding-r{
    padding-right: 70%;
  }
  .logo_block{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 100px;
  }
  .logo_block > img{
    width:100%;
  }
  .overlay{
    height:250px !important;
  }
  .overlayleft{
    background:linear-gradient(to left, #000 35%, transparent 50%, transparent 100%);
    position: absolute;
    width: 100%;
    height: 262px;
    right:0;
    z-index: 2;
  }
  .background_change{
    background: black;
  }
  .mobile_text > h3 ,.text-change {
    color:white;
  }
}