@media (max-width: 575.98px) {
    #breadcrumb{
        display:none;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        margin-top:30px;
    }
    .flex-half{
        display: flex;
        flex:0 0 100%;
        max-width:100%;
        margin:auto;
    }
    .flex-half.image{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex-half.content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .figure-image{
        width:300px;
        height:auto;
        margin:auto;
    }
    .figure-image img{
        width:100%;
    }
    .block-content,
    .block-overview,
    .block-feature{
        margin-top:20px;
    }
    .product-name{
        font-size:40px;
        font-weight: bold;
    }
    .product-line{
        font-size:16px;
        color:#1e3b8b;
    }
    .product-detail{
        font-size:13px;
        color:grey;
    }
    .block-overview > h3,
    .block-feature > h3{
        font-size:20px;
        font-weight: bold;
        color:rgb(53, 53, 53);
        text-align: center;
    }
    .block-overview > p{
        font-size:13px;
        font-weight: 400;
    }
    .li-p{
        font-size:13px;
        font-weight: 400;
    }
    .block-content,
    .block-overview{
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #breadcrumb{
        display:none;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        margin-top:30px;
    }
    .flex-half{
        display: flex;
        flex:0 0 100%;
        max-width:100%;
        margin:auto;
    }
    .flex-half.image{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex-half.content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .figure-image{
        width:300px;
        height:auto;
        margin:auto;
    }
    .figure-image img{
        width:100%;
    }
    .block-content,
    .block-overview,
    .block-feature{
        margin-top:20px;
    }
    .product-name{
        font-size:40px;
        font-weight: bold;
    }
    .product-line{
        font-size:16px;
        color:#1e3b8b;
    }
    .product-detail{
        font-size:13px;
        color:grey;
    }
    .block-overview > h3,
    .block-feature > h3{
        font-size:20px;
        font-weight: bold;
        color:rgb(53, 53, 53);
        text-align: center;
    }
    .block-overview > p{
        font-size:13px;
        font-weight: 400;
    }
    .li-p{
        font-size:13px;
        font-weight: 400;
    }
    .block-content,
    .block-overview{
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   
    .flex{
        display: flex;
        flex-wrap: wrap;
        margin-top:30px;
    }
    .flex-half{
        display: flex;
        flex:0 0 100%;
        max-width:100%;
        margin:auto;
    }
    .flex-half.image{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex-half.content{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .figure-image{
        width:300px;
        height:auto;
        margin:30px auto;
    }
    .figure-image img{
        width:100%;
    }
    .block-content,
    .block-overview,
    .block-feature{
        margin-top:20px;
    }
    .product-name{
        font-size:45px;
        font-weight: bold;
    }
    .product-line{
        font-size:18px;
        color:#1e3b8b;
    }
    .product-detail{
        font-size:13px;
        color:grey;
    }
    .block-overview > h3,
    .block-feature > h3{
        font-size:20px;
        font-weight: bold;
        color:rgb(53, 53, 53);
    }
    .block-overview > p{
        font-size:13px;
        font-weight: 400;
    }
    .li-p{
        font-size:13px;
        font-weight: 400;
    }
    .block-overview,
    .block-feature{
        max-width: 580px;
    }
    .block-feature{
        margin-bottom:40px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
    .flex-half{
        display: flex;
        flex:0 0 50%;
        max-width:50%;
    }
    .flex-half.image{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .flex-half.content{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .figure-image{
        width:350px;
        height:auto;
        margin: 50px auto;
    }
    .figure-image img{
        width:100%;
    }
    .block-content,
    .block-overview,
    .block-feature{
        margin-top:15px;
    }
    .product-name{
        font-size:45px;
        font-weight: bold;
    }
    .product-line{
        font-size:18px;
        color:#1e3b8b;
    }
    .product-detail{
        font-size:13px;
        color:grey;
    }
    .block-overview > h3,
    .block-feature > h3{
        font-size:20px;
        font-weight: bold;
        color:rgb(53, 53, 53);
    }
    .block-overview > p{
        font-size:13.5px;
        font-weight: 400;
    }
    .li-p{
        font-size:13.5px;
        font-weight: 400;
    }
}

@media only screen and (min-width:1200px){
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
    .flex-half{
        display: flex;
        flex:0 0 50%;
        max-width:50%;
    }
    .flex-half.image{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .flex-half.content{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .figure-image{
        width:350px;
        height:auto;
        margin: 50px auto;
    }
    .figure-image img{
        width:100%;
    }
    .block-content,
    .block-overview,
    .block-feature{
        margin-top:15px;
    }
    .product-name{
        font-size:45px;
        font-weight: bold;
    }
    .product-line{
        font-size:18px;
        color:#1e3b8b;
    }
    .product-detail{
        font-size:13px;
        color:grey;
    }
    .block-overview > h3,
    .block-feature > h3{
        font-size:20px;
        font-weight: bold;
        color:rgb(53, 53, 53);
    }
    .block-overview > p{
        font-size:13.5px;
        font-weight: 400;
    }
    .li-p{
        font-size:13.5px;
        font-weight: 400;
    }
}