:root {
    --sumsung_font:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.koamtac-color{
    color:#99CC33;
}
.btn-outline-databar{
    color:black;
}
.btn-outline-databar:hover{
    background-color:#99CC33;
    border-color:rgb(97, 138, 15);
}

.title_text{
    font-weight: 450;
    font-size: 22px;
    font-family: var(--sumsung_font);
}
.content_text{
    cursor: pointer;
    font-family: var(--sumsung_font);
    
}
.sumsung_type{
    background-color: rgba(0, 0, 0,0.02);
    height:auto;
    width:100%;
    margin:30px auto;
    text-align: center;
    transition: background-color 0.4s ease-in-out;
}
.sumsung_type:hover{
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 100px 0px inset rgb(240, 240, 240);
}

.section_three{
    margin:0px;
}
.content_galaxy_type{
    font-size: 14px;
}
.seeall{
    letter-spacing: 2px;
}
.seeall:hover{
    color:#99CC33;
}
.product_name{
    color:#4b4b4b;
    font-size:20px;
    font-weight: bold;
    margin:10px auto;
}
.product_content{
    font-size:13px;
    color: grey;
}
@media only screen  and (min-width:320px){
    h3{
        font-size:25px;
        line-height: 35px;
    }
    .my-h1-row{
        margin:60px auto;
        position: relative;
        justify-content: center;
    }
    .my-h1{
        font-size:25px;
    }
    .my-h1::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #e6e6e6;
        bottom: -10px;
        left:0;
        margin: auto;
    }
    .content_galaxy_type{
        height:120px;
    }
    .seeall{
        margin:30px auto;
        font-size:14px;
    }
    .section-text{
        width:100% !important;
    }
    .section-image{
        width:100% !important;
    }
    .display-4{
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    .product_row1 {
        /* border-bottom: 1px solid lightgray; */
        border-top: 1px solid lightgray;
    }
    .product_row1:last-child{
        border-right: 0px solid
    }
    .product_row2 {
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
    }
    .product_row2:last-child{
        border-right: 0px solid
    }
    nav#breadcrumb{
        display: none !important;
    }
    .first_banner{
        margin-top:15% !important;
    }
    .block{
        top:calc((100% - 50px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 130px) / 2) !important;
        font-size:30px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .col_findmore_image{
        margin:50px auto;
    }
    .logo_size{
        width:100px;
        height:auto;
        margin:auto;
        position:absolute;
        top: 10px;
        right:-10px;
    }
    .logo_size > img{
        width:100%;
    }
    .half-product-size{
        width:200px;
        height:auto;
        margin:auto;
    }
    .flex-half{
        display: flex;
        flex:0 0 100%;
        max-width:100%;
        flex-direction: column;
    }
    .flex-half.flex-content{
        padding:20px;
    }
    .flex-content > h1{
        font-size:30px;
    }
}
@media (min-width: 330px){
    .first_banner{
        margin-top:12% !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
}
@media (min-width: 375px){
    .first_banner{
        margin-top:10% !important;
    }
    .block{
        top:calc((100% - 50px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 140px) / 2) !important;
        font-size:35px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
}
@media only screen  and (min-width:768px){
    .section-text{
        width: calc((90% + 100px) / 2) !important;
        float: right !important;
    }
    .section-image{
        width:calc((100% - 100px) / 2) !important;
    }
    .display-4{
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    .sumsung_type {
        flex: 0 0 32% !important;
        max-width: 32% !important;
    }
    .product_row1 {
        border-right: 1px solid lightgray !important;
        border-top: 1px solid lightgray !important;
        border-bottom: 0px solid !important; 
    }
    
    .product_row1:nth-child(3n+0){
        border-right: 0px solid !important;
    }
    .product_row2 {
        border-right: 1px solid lightgray !important;
        border-top: 1px solid lightgray !important;
        border-bottom: 0px solid !important; 
    }
    .product_row2:nth-child(3n+0){
        border-right: 0px solid !important;
    }
    .first_banner{
        margin-top:5% !important;
    }
    .block{
        top:calc(100% / 2) !important;
    }
    .block > label{
        left:calc((100% - 220px) / 2) !important;
        font-size:55px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .content_galaxy_type{
        height:150px;
    }
    .logo_size{
        width:200px;
        height:auto;
        margin:auto;
        position:absolute;
        top: 10px;
        right:0px;
    }
    .logo_size > img{
        width:100%;
    }
    .flex-half{
        display: flex;
        flex:0 0 50%;
        max-width:50%;
        flex-direction: column;
    }
    .flex-content{
        justify-content: center;
    }
    .row-reverse{
        flex-direction: row-reverse;
        margin:50px auto;
    }
    .half-product-size{
        width:250px;
        height:auto;
        margin:auto;
    }
}
@media (min-width: 1024px){
    .my-h1-row{
        margin:60px auto;
        position: relative;
        justify-content: left;
    }
    h3{
        font-size:25px;
        line-height: 35px;
    }
    nav#breadcrumb{
        display: block !important;
    }
    .first_banner{
        margin-top:0 !important;
    }
    .block{
        top:calc((100% - 220px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 300px) / 2) !important;
        font-size:80px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .col_findmore_image{
        margin:0px auto !important;
    }
    .content_galaxy_type{
        height:150px;
    }
    .seeall{
        font-size:12px;
    }
    
}
@media (min-width: 1400px){
    .seeall{
        font-size:12px;
    }
    h3{
        font-size:25px;
        line-height: 35px;
    }
    .my-h1-row{
        margin:60px auto;
        position: relative;
    }
    .my-h1{
        font-size:35px ;
    }
    .my-h1::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: #e6e6e6;
        bottom: -10px;
        left:0;
        margin: auto;
    }
    nav#breadcrumb{
        display: block !important;
    }
    .first_banner{
        margin-top:0 !important;
    }
    .block{
        top:calc((100% - 220px) / 2) !important;
    }
    .block > label{
        left:calc((100% - 360px) / 2) !important;
        font-size:110px !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .content_galaxy_type{
        height:150px;
    }
    .logo_size{
        width:250px;
        height:auto;
        margin:auto;
        position:absolute;
        top: 20px;
        right:20px;
    }
    .logo_size > img{
        width:100%;
    }
    .flex-half{
        display: flex;
        flex:0 0 50%;
        max-width:50%;
        flex-direction: column;
    }
    .flex-content{
        justify-content: center;
    }
    .row-reverse{
        flex-direction: row-reverse;
        margin:50px auto;
    }
    .half-product-size{
        width:250px;
        height:auto;
        margin:auto;
    }

}