@media screen and (min-width: 992px){
    .section-1{
        height: 110vh;
        width: auto;
        position: relative;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .desktop-none{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position-x: 25px;
    }
    .head-1{
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-sup-1{
        position: absolute;
        padding: 17% 0% 0% 14%;
    }
    .text-sup-1 > h2{
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: large;
        color: #1879da;
    }
    .text-sup-1 > p {
        color: #707070;
    }
    .text-1{
        text-align: end;
        padding: 10% 4% 1% 21%;
    }
    .text-1 >h2{
        font-size: 1.7vw;
        font-weight: 200;
    }
    .text-1 > p {
        font-size: 0.9vw;
        font-weight: 200;
        color: #707070;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/web/SureFox/Fox_home_1920-01.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
    }
    .button{
        width: 100%;
        padding: 28% 0% 0% 14%;
    }
    /* .btn{
        position: absolute;
        left: 23%;
        top: 58%;
    } */
    .btn-banner{
        width: 14%;
        border-radius: 25px;
        border: none;
        background-color: #3399ff87;
        color: white;
        font-size: 1vw;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .btn-banner:hover{
        background-color: #3399ffcc;
        color: #00ffff;
        box-shadow: 3px 3px 7px 2px #6666667a;
        transition: 0.4s;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 3%;
    }
    .text-2{
        padding: 5% 0% 0% 3%;
        text-align: center;
    }
    .text-2 > h2{
        font-size: 2.5vw;
        font-weight: 600;
        color: #3399ff;
    }
    .text-2 > p{
        font-size: 1.4vw;
        font-weight: 200;
        color: #707070;
    }
   .section-3{
        text-align: end;
        padding: 2% 14% 0 0%;
        font-size: 1.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   .section-4{
       height: 100%;
       width: auto;
   }
   .row1-sec4{
        text-align: -webkit-center;
        margin: 50px 100px 0 200px;
   }
   .box-2{
        width: 85%;
        height: 345px;
        background-color: #f6f6f6a3;
        text-align: center;
        box-shadow: 10px 10px 14px #e6e4e4;
        border-radius: 30px;
        margin-top: 7%;
    }
    .box-2:hover{
        box-shadow: 0px 0px 14px #e6e4e4;
        transition: 0.4s;
    }
    .box-2 > h2{
        color: #3399ff;
        font-size: 1.2vw;
    }
    .box-2 > p{
        font-size: 0.8vw;
        font-weight: 200;
        padding: 0 10%;
    }
    .icon-sec2{
        padding-top:17% ;
    }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }

}
@media screen and (min-width: 784px) and (max-width: 991px){
    .section-1{
        height: 100vh;
        width: auto;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/mobile/lock/lock_750-09.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .mobile-none{
        display: none;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom;
    }
    .head-1{
        border-bottom: 3px solid #3399ff;
        width: fit-content;

    }
    .text-sup-1{
        position: absolute;
        padding: 83% 0% 0% 18%;
    }
    .text-sup-1 > h2{
        font-size: 6vw;
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: 3vw;
        color: #1879da;
    }
    .text-sup-1 > p {
        font-size: 3vw;
        color: #707070;
    }
    .text-1{
        text-align: end;
        padding: 7% 5% 0% 23%;
    }
    .text-1 >h2{
        font-size: 4.5vw;
        font-weight: 200;
    }
    .text-1 > p {
        font-size: 2.8vw;
        font-weight: 200;
        color: #555555;
    }
    .button{
        width: 95%;
        padding: 128% 0% 0% 38%;
    }
    .btn-banner{
        width: 49%;
        border-radius: 25px;
        border: none;
        background-color: #3399ff87;
        color: white;
        font-size: 2.5vw;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .btn-banner:hover{
        background-color: #3399ffcc;
        color: #00ffff;
        box-shadow: 3px 3px 7px 2px #6666667a;
        transition: 0.4s;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 10%;
    }
    .text-2{
        padding: 7% 7% 0% 14%;
        text-align: center;
    }
    .text-2 > h2{
        font-size: 4vw;
        font-weight: 400;
        color: #3399ff;

    }
    .text-2 > p{
        font-size: 3vw;
        font-weight: 200;
        color: #707070;
    }
    .section-4{
        height: 100%;
        width: auto;
    }
    .row1-sec4{
         text-align: -webkit-center;
         margin: 50px 100px 0 125px;
    }
    .box-2{
        width: 90%;
        height: 290px;
        background-color:#f6f6f6a3;
        text-align: center;
        box-shadow: 10px 10px 14px #e6e4e4;
        border-radius: 30px;
        margin-top: 5%;
    }
    .box-2:hover{
        box-shadow: 0px 0px 14px #e6e4e4;
        transition: 0.4s;
    }

    .box-2 > h2{
        color: #3399ff;
        font-size: 2.2vw;
        padding-top: 5%;
    }
    .box-2 > p{
        font-size: 1.6vw;
        padding: 0 5%
    }
    .icon-sec2{
        padding-top:17% ;
    }
   .section-3{
        text-align: end;
        padding: 6% 23% 0 0%;
        font-size: 3.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }
}
@media screen and (min-width: 599px) and (max-width: 783px){
    .section-1{
        height: 110vh;
        width: auto;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/mobile/lock/lock_750-09.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .mobile-none{
        display: none;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom;
    }
    .head-1{
        border-bottom: 5px solid #3399ff;
        width: fit-content;
    }
    .text-sup-1{
        position: absolute;
        padding: 83% 0% 0% 18%;
    }
    .text-sup-1 > h2{
        font-size: 6vw;
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: 3vw;
        color: #1879da;
    }
    .text-sup-1 > p {
        font-size: 3vw;
        color: #707070;
    }
    .text-1{
        text-align: end;
        padding: 7% 7% 0% 23%;
    }
    .text-1 >h2{
        font-size: 4.5vw;
        font-weight: 200;
    }
    .text-1 > p {
        font-size: 2.8vw;
        font-weight: 200;
        color: #555555;
    }
    .button{
        width: 95%;
        padding: 130% 0% 0% 38%;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 10%;
    }
    .text-2{
        padding: 7% 7% 0% 12%;
        text-align: center;
    }
    .text-2 > h2{
        font-size: 4.5vw;
        font-weight: 400;
        color: #3399ff;
    }
    .text-2 > p{
        font-size: 3.2vw;
        font-weight: 200;
        color: #707070;
    }
    .section-4{
        height: 100%;
        width: auto;
    }
    .row1-sec4{
         text-align: -webkit-center;
         margin: 50px 100px 0 125px;
    }
    .box-2{
        width: 65%;
        height: 290px;
        background-color:#f6f6f6a3;
        text-align: center;
        box-shadow: 10px 10px 14px #e6e4e4;
        border-radius: 30px;
        margin-top: 5%;
    }
    .box-2:hover{
        box-shadow: 0px 0px 14px #e6e4e4;
        transition: 0.4s;
    }
    .box-2 > h2{
        color: #3399ff;
        font-size: 3.2vw;
        padding-top: 5%;
    }
    .box-2 > p{
        font-size: 2vw;
        padding: 0 5%
    }
    .icon-sec2{
        padding-top:17% ;
    }
   .section-3{
        text-align: end;
        padding: 2% 22% 0 0%;
        font-size: 3.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }
   .btn-banner{
    width: 49%;
    border-radius: 25px;
    border: none;
    background-color: #3399ff87;
    color: white;
    font-size: 2.5vw;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.btn-banner:hover{
    background-color: #3399ffcc;
    color: #00ffff;
    box-shadow: 3px 3px 7px 2px #6666667a;
    transition: 0.4s;
}

}
@media screen and (max-width: 598px){
    .section-1{
        height: 100vh;
        width: auto;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/mobile/lock/lock_750-09.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
    }
    .mobile-none{
        display: none;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom;
    }
    .head-1{
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-sup-1{
        position: absolute;
        padding: 83% 0% 0% 18%;
    }
    .text-sup-1 > h2{
        font-size: 6vw;
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: 3vw;
        color: #1879da;
    }
    .text-sup-1 > p {
        font-size: 3vw;
        color: #707070;
    }
    .text-1{
        text-align: end;
        padding: 7% 7% 0% 23%;
    }
    .text-1 >h2{
        font-size: 4.5vw;
        font-weight: 200;
    }
    .text-1 > p {
        font-size: 2.8vw;
        font-weight: 200;
        color: #555555;
    }
    .button{
        width: 95%;
        padding: 133% 0% 0% 38%;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 10%;
    }
    .text-2{
        padding: 15% 7% 0% 10%;
        text-align: center;
    }
    .text-2 > h2{
        font-size: 4vw;
        font-weight: 400;
        color: #3399ff;
    }
    .text-2 > p{
        font-size: 3vw;
        font-weight: 200;
        color: #707070;
    }
    .section-4{
        height: 100%;
        width: auto;
    }
    .row1-sec4{
         text-align: -webkit-center;
         margin: 45px 40px 0 55px;
    }
    .box-2{
        width: 80%;
        height: 250px;
        background-color: #f6f6f6a3;
        text-align: center;
        box-shadow: 10px 10px 14px #e6e4e4;
        border-radius: 30px;
        margin-top: 5%;;
    }
    .box-2:hover{
        box-shadow: 0px 0px 14px #e6e4e4;
        transition: 0.4s;
    }
    .box-2 > h2{
        color: #3399ff;
        font-size: 3.2vw;
        padding-top: 5%;
    }
    .box-2 > p{
        font-size: 2vw;
        padding: 0 5%
    }
    .icon-sec2{
        padding-top:17% ;
    }
   .section-3{
        text-align: end;
        padding: 2% 22% 0 0%;
        font-size: 3.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }
    .btn-banner{
        width: 49%;
        border-radius: 25px;
        border: none;
        background-color: #3399ff87;
        color: white;
        font-size: 2.5vw;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .btn-banner:hover{
        background-color: #3399ffcc;
        color: #00ffff;
        box-shadow: 3px 3px 7px 2px #6666667a;
        transition: 0.4s;
    }
}
