@media screen and (min-width: 992px){
    .section-1{
        height: 110vh;
        width: auto;
        position: relative;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .desktop-none{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position-x: 25px;
    }
    .head-1{
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-sup-1{
        position: absolute;
        padding: 17% 0% 0% 14%;
    }
    .text-sup-1 > h2{
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: large;
        color: #1879da;
    }
    .text-sup-1 > p {
        color: #707070;
    }
    .text-1{
        text-align: end;
        padding: 14.5% 5% 1% 45%;
    }
    .text-1 >h2{
        font-size: 1.8vw;
        font-weight: 200;
    }
    .text-1 > h3{
        font-size: large;
        color: #1879da;
    }
    .text-1 > p {
        font-size: 0.9vw;
        font-weight: 200;
        color: #707070;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/web/SureVideo/VDO_window1920.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
    }
    .button{
        width: 100%;
        padding: 23% 0% 0% 15%;
    }
    .btn-banner{
        width: 14%;
        border-radius: 25px;
        border: none;
        background-color: #3399ff87;
        color: white;
        font-size: 1vw;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .btn-banner:hover{
        background-color: #3399ffcc;
        color: #00ffff;
        box-shadow: 3px 3px 7px 2px #6666667a;
        transition: 0.4s;
    }
    .section-2{
        height: auto;
        width: 100%;
    }
    .body-2{
        flex: 0 0 50% ;
        max-width: 50%;
        padding: 10% 0% 0% 9%;
    }
    .text-2{
        padding-top: 10%;
    }
    .text-2 > h2{
        text-align: start;
        font-size: 2vw;
        font-weight: 400;
        color: #1879da;
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-2 > p{
        text-align: start;
        font-size: 1vw;
        font-weight: 200;
        color: #707070;
    }
    .text-2-2{
        text-align: center;
        padding: 5% 0 0 4%;
    }
    .text-2-2 > h2{
        color: #3399ff;
        font-size: 2vw;
        font-weight: 600;
    }
    .container-2{
        margin: 0;
        padding: 2% 5% 2% 12%;
    }
    .col-android{
        flex: 0 0 33%;
        max-width: 33%;
    }
    .icon-sec2{
        padding-top: 17%;
        width: 35% !important;
    }
    .box{
        width: 83%;
        height: 110%;
        background-color: #f6f6f6a3;
        text-align: center;
        box-shadow: 10px 10px 14px #e6e4e4;
        border-radius: 15px;
        margin-top: 7%;
    }
    .box > h2{
        font-size: 1vw;
        color: #3399ff;
        font-weight: 600;
        padding: 5% 5% 0 5%;
    }
    .box > p{
        font-size: 0.8vw;
        font-weight: 200;
        color: #707070;
        padding: 0 10%;
    }
    .row-2{
        display: flex;
        justify-content: center;
        margin: 10% 0 0 0;
    }
    .section-3{
        text-align: end;
        padding: 8% 14% 5% 0%;
        font-size: 1.1vw;
    }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }

}
@media screen and (min-width: 784px) and (max-width: 991px){
    .section-1{
        height: 100vh;
        width: auto;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/mobile/VDO/VDO_window750-08.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .mobile-none{
        display: none;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom;
    }
    .head-1{
        border-bottom: 3px solid #3399ff;
        width: fit-content;

    }
    .text-sup-1{
        position: absolute;
        padding: 78% 0% 0% 15%;
    }
    .text-sup-1 > h2{
        font-size: 5.5vw;
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: 3vw;
        color: #1879da;
    }
    .text-sup-1 > p {
        font-size: 3vw;
        color: #707070;
    }
    .text-1{
        text-align: start;
        padding: 7% 5% 0% 25%;
    }
    .text-1 >h2{
        font-size: 4.5vw;
        font-weight: 200;
        color: #1879da;
    }
    .text-1 > h3{
        font-size: large;
        color: #1879da;
    }
    .text-1 > p {
        font-size: 2.8vw;
        font-weight: 200;
        color: #707070;
    }
    .button{
        width: 95%;
        padding: 93% 0% 0% 38%;
    }
    .btn-banner{
        width: 49%;
        border-radius: 25px;
        border: none;
        background-color: #3399ff87;
        color: white;
        font-size: 2.5vw;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .btn-banner:hover{
        background-color: #3399ffcc;
        color: #00ffff;
        box-shadow: 3px 3px 7px 2px #6666667a;
        transition: 0.4s;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 5%;
    }
    .text-2{
        padding: 7% 7% 0% 25%;
    }
    .text-2 > h2{
        text-align: start;
        font-size: 4vw;
        font-weight: 400;
        color: #1879da;
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-2 > p{
        text-align: start;
        font-size: 3vw;
        font-weight: 200;
        color: #707070;
    }
    .text-2-2{
        text-align: center;
        padding: 10% 0 0 4%;
    }
    .text-2-2 > h2{
        color: #3399ff;
        font-size: 4.5vw;
        font-weight: 600;
    }
    .container-2{
        margin: 0;
        padding: 2% 5% 2% 12%;
        justify-content: center;
    }
    .col-android{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .icon-sec2{
        padding-top: 17%;
    }
    .box{
        width: 95%;
        height: 100%;
        background-color: #f6f6f6a3;
        text-align: center;
        box-shadow: 10px 10px 14px #e6e4e4;
        border-radius: 15px;
        margin-top: 7%;
    }
    .box > h2{
        font-size: 1.5vw;
        color: #3399ff;
        font-weight: 600;
    }
    .box > p{
        font-size: 1vw;
        font-weight: 200;
        color: #707070;
        padding: 0 10%;
    }
    .row-2{
        display: flex;
        justify-content: center;
        margin: 2% 0 0 0;
    }
   .section-3{
        text-align: end;
        padding: 0% 10% 5% 5%;
        font-size: 3.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }
}
@media screen and (min-width: 599px) and (max-width: 783px){
    .section-1{
        height: 110vh;
        width: auto;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/mobile/VDO/VDO_window750-08.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .mobile-none{
        display: none;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom;
    }
    .head-1{
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-sup-1{
        position: absolute;
        padding: 78% 0% 0% 13%;
    }
    .text-sup-1 > h2{
        font-size: 5.5vw;
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: 3vw;
        color: #1879da;
    }
    .text-sup-1 > p {
        font-size: 3vw;
        color: #707070;
    }
    .text-1{
        text-align: start;
        padding: 7% 7% 0% 25%;
    }
    .text-1 >h2{
        font-size: 4.5vw;
        font-weight: 200;
        color: #1879da;
    }
    .text-1 > h3{
        font-size: large;
        color: #1879da;
    }
    .text-1 > p {
        font-size: 2.8vw;
        font-weight: 200;
        color: #707070;
    }
    .button{
        width: 95%;
        padding: 93% 0% 0% 38%;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 10%;
    }
    .text-2{
        padding: 7% 7% 0% 12%;
    }
    .text-2 > h2{
        text-align: start;
        font-size: 4vw;
        font-weight: 400;
        color: #1879da;
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-2 > p{
        text-align: start;
        font-size: 3vw;
        font-weight: 200;
        color: #707070;
    }
    .text-2-2{
        text-align: center;
        padding: 10% 0 0 4%;
    }
    .text-2-2 > h2{
        color: #3399ff;
        font-size: 4.5vw;
        font-weight: 600;
    }
    .body-2{
        padding: 2% 0% 0% 18%;
    }
    .container-2{
        margin: 0;
        padding: 2% 5% 2% 12%;
        justify-content: center;
    }
    .col-android{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .icon-sec2{
        padding-top: 17%;
    }
    .box{
        width: 95%;
        height: 100%;
        background-color: #f6f6f6a3;
        text-align: center;
        box-shadow: 10px 10px 14px #e6e4e4;
        border-radius: 15px;
        margin-top: 7%;
    }
    .box > h2{
        font-size: 1.5vw;
        color: #3399ff;
        font-weight: 600;
    }
    .box > p{
        font-size: 0.8vw;
        font-weight: 200;
        color: #707070;
        padding: 0 10%;
    }
    .row-2{
        display: flex;
        justify-content: center;
        margin: 2% 0 0 0;
    }
   .section-3{
        text-align: end;
        padding: 2% 10% 5% 0%;
        font-size: 3.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }
   .btn-banner{
    width: 49%;
    border-radius: 25px;
    border: none;
    background-color: #3399ff87;
    color: white;
    font-size: 2.5vw;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.btn-banner:hover{
    background-color: #3399ffcc;
    color: #00ffff;
    box-shadow: 3px 3px 7px 2px #6666667a;
    transition: 0.4s;
}

}
@media screen and (max-width: 598px){
    .section-1{
        height: 100vh;
        width: auto;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/mobile/VDO/VDO_window750-08.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
    }
    .mobile-none{
        display: none;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom;
    }
    .head-1{
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-sup-1{
        position: absolute;
        padding: 85% 0% 0% 18%;
    }
    .text-sup-1 > h2{
        font-size: 5.2vw;
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: 3vw;
        color: #1879da;
    }
    .text-sup-1 > p {
        font-size: 3vw;
        color: #707070;
    }
    .text-1{
        text-align: start;
        padding: 7% 7% 0% 25%;
    }
    .text-1 >h2{
        font-size: 4.5vw;
        font-weight: 200;
        color: #1879da;
    }
    .text-1 > h3{
        font-size: large;
        color: #1879da;
    }
    .text-1 > p {
        font-size: 2.8vw;
        font-weight: 200;
        color: #707070;
    }
    .button{
        width: 95%;
        padding: 100% 0% 0% 38%;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 10%;
    }
    .text-2{
        padding: 7% 7% 0% 12%;
    }
    .text-2 > h2{
        text-align: start;
        font-size: 4vw;
        font-weight: 400;
        color: #1879da;
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-2 > p{
        text-align: start;
        font-size: 3vw;
        font-weight: 200;
        color: #707070;
    }
    .text-2-2{
        text-align: center;
        padding: 10% 0 0 4%;
    }
    .text-2-2 > h2{
        color: #3399ff;
        font-size: 4.5vw;
        font-weight: 600;
    }
    .body-2{
        padding: 2% 0% 0% 18%;
    }
    .container-2{
        margin: 0;
        padding: 2% 5% 2% 12%;
       justify-content: center;
    }
    .col-android{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .icon-sec2{
        padding-top: 17%;
    }
    .box{
        width: 95%;
        height: 95%;
        background-color: #f6f6f6a3;
        text-align: center;
        box-shadow: 10px 10px 14px #e6e4e4;
        border-radius: 15px;
        margin-top: 7%;
    }
    .box > h2{
        font-size: 1.5vw;
        color: #3399ff;
        font-weight: 600;
    }
    .box > p{
        font-size: 1.5vw;
        font-weight: 200;
        color: #707070;
    }
    .row-2{
        display: flex;
        justify-content: center;
        margin: 2% 0 0 0;
    }
   .section-3{
        text-align: end;
        padding: 2% 10% 5% 0%;
        font-size: 3.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }
    .btn-banner{
        width: 49%;
        border-radius: 25px;
        border: none;
        background-color: #3399ff87;
        color: white;
        font-size: 2.5vw;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .btn-banner:hover{
        background-color: #3399ffcc;
        color: #00ffff;
        box-shadow: 3px 3px 7px 2px #6666667a;
        transition: 0.4s;
    }
}
