@media screen and (min-width: 992px){
    .section-1{
        height: 100vh;
        width: auto;
        position: relative;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .desktop-none{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position-x: 25px;
    }
    .head-1{
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-sup-1{
        position: absolute;
        padding: 17% 0% 0% 14%;
    }
    .text-sup-1 > h2{
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: large;
        color: #1879da;
    }
    .text-sup-1 > p {
        color: #707070;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/web/SureLock/lock_1920-07.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
    }
    .button{
        width: 100%;
        padding: 30% 0% 0% 15%;
    }
    /* .btn{
        position: absolute;
        left: 23%;
        top: 58%;
    } */
    .btn-banner{
        width: 14%;
        border-radius: 25px;
        border: none;
        background-color: #3399ff87;
        color: white;
        font-size: 1vw;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .btn-banner:hover{
        background-color: #3399ffcc;
        color: #00ffff;
        box-shadow: 3px 3px 7px 2px #6666667a;
        transition: 0.4s;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 4%;
    }
    .text-2{
        padding: 0% 4% 0% 60%;
    }
    .text-2 > h2{
        text-align: start;
        font-size: 2vw;
        font-weight: 400;
        color: #1879da;
    }
    .text-2 > p{
        text-align: start;
        font-size: 1vw;
        font-weight: 200;
        color: #707070;
    }
   .section-3{
        text-align: end;
        padding: 2% 14% 0 0%;
        font-size: 1.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }

}
@media screen and (min-width: 784px) and (max-width: 991px){
    .section-1{
        height: 100vh;
        width: auto;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/mobile/lock/lock_750-10.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .mobile-none{
        display: none;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom;
    }
    .head-1{
        border-bottom: 3px solid #3399ff;
        width: fit-content;

    }
    .text-sup-1{
        position: absolute;
        padding: 86% 0% 0% 16%;
    }
    .text-sup-1 > h2{
        font-size: 4.5vw;
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: 3vw;
        color: #1879da;
    }
    .text-sup-1 > p {
        font-size: 3vw;
        color: #707070;
    }

    .button{
        width: 95%;
        padding: 125% 0% 0% 38%;
    }
    .btn-banner{
        width: 49%;
        border-radius: 25px;
        border: none;
        background-color: #3399ff87;
        color: white;
        font-size: 2.5vw;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .btn-banner:hover{
        background-color: #3399ffcc;
        color: #00ffff;
        box-shadow: 3px 3px 7px 2px #6666667a;
        transition: 0.4s;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 10%;
    }
    .text-2{
        padding:7% 5% 0% 20%;
    }
    .text-2 > h2{
        text-align: start;
        font-size: 4vw;
        font-weight: 400;
        color: #1879da;
    }
    .text-2 > p{
        text-align: start;
        font-size: 3vw;
        font-weight: 200;
        color: #707070;
    }
   .section-3{
        text-align: end;
        padding: 2% 5% 0 0%;
        font-size: 3.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }
}
@media screen and (min-width: 599px) and (max-width: 783px){
    .section-1{
        height: 110vh;
        width: auto;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/mobile/lock/lock_750-10.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .mobile-none{
        display: none;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom;
    }
    .head-1{
        border-bottom: 5px solid #3399ff;
        width: fit-content;
    }
    .text-sup-1{
        position: absolute;
        padding:86% 0% 0% 16%;
    }
    .text-sup-1 > h2{
        font-size:  4.5vw;
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: 3vw;
        color: #1879da;
    }
    .text-sup-1 > p {
        font-size: 3vw;
        color: #707070;
    }

    .button{
        width: 95%;
        padding: 125% 0% 0% 38%;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 10%;
    }
    .text-2{
        padding: 7% 7% 0% 25%;
    }
    .text-2 > h2{
        text-align: start;
        font-size: 4vw;
        font-weight: 400;
        color: #1879da;
    }
    .text-2 > p{
        text-align: start;
        font-size: 3vw;
        font-weight: 200;
        color: #707070;
    }
   .section-3{
        text-align: end;
        padding: 2% 4% 0 0%;
        font-size: 3.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }
   .btn-banner{
    width: 49%;
    border-radius: 25px;
    border: none;
    background-color: #3399ff87;
    color: white;
    font-size: 2.5vw;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.btn-banner:hover{
    background-color: #3399ffcc;
    color: #00ffff;
    box-shadow: 3px 3px 7px 2px #6666667a;
    transition: 0.4s;
}

}
@media screen and (max-width: 598px){
    .section-1{
        height: 100vh;
        width: auto;
    }
    .bg-1{
        background-image: url('/images/new-website/products/42gears/mobile/lock/lock_750-10.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
    }
    .mobile-none{
        display: none;
    }
    .desktop-pic{
        display: block;
    }
    .mobile-pic{
        display: none;
    }
    .bg-body{
        background-image: url("/images/new-website/products/42gears/web/bg_1920-01.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
        background-position: bottom;
    }
    .head-1{
        border-bottom: 3px solid #3399ff;
        width: fit-content;
    }
    .text-sup-1{
        position: absolute;
        padding: 86% 0% 0% 16%
    }
    .text-sup-1 > h2{
        font-size:  4.5vw;
        font-weight: 300;
        color: #1879da;
    }
    .text-sup-1 > h3{
        font-size: 3vw;
        color: #1879da;
    }
    .text-sup-1 > p {
        font-size: 3vw;
        color: #707070;
    }

    .button{
        width: 95%;
        padding: 130% 0% 0% 38%;
    }
    .section-2{
        height: auto;
        width: 100%;
        padding-bottom: 10%;
    }
    .text-2{
        padding: 7% 5% 0% 20%
    }
    .text-2 > h2{
        text-align: start;
        font-size: 4vw;
        font-weight: 400;
        color: #1879da;
    }
    .text-2 > p{
        text-align: start;
        font-size: 3vw;
        font-weight: 200;
        color: #707070;
    }
   .section-3{
        text-align: end;
        padding: 2% 4% 0 0%;
        font-size: 3.1vw;
   }
   .section-3 > a{
       color: #70707093;
   }
   a:hover{
    font-weight: 500 !important;
    color: #707070af !important;
   }
    .btn-banner{
        width: 49%;
        border-radius: 25px;
        border: none;
        background-color: #3399ff87;
        color: white;
        font-size: 2.5vw;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    .btn-banner:hover{
        background-color: #3399ffcc;
        color: #00ffff;
        box-shadow: 3px 3px 7px 2px #6666667a;
        transition: 0.4s;
    }
}
