:root {
    --sumsung_font:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.small{
    font-size:13px !important;
}
.block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_text{
    font-weight: 450;
    font-size: 22px;
    font-family: var(--sumsung_font);
}
.content_text{
    cursor: pointer;
    font-family: var(--sumsung_font);

}
.sumsung_type{
    background-color: rgba(0, 0, 0,0.02);
    height:auto;
    width:100%;
    margin:30px 30px;
    text-align: center;
    transition: background-color 0.4s ease-in-out;
}
.sumsung_type:hover{
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 100px 0px inset rgb(240, 240, 240);
}

.section_three{
    margin:0px;
}
.image_type > img{
    width:80%;
    position: relative;
    margin-top: 30px;

}
.content_galaxy_type{
    font-size: 14px;
}
.btn.seeall{
    border-radius: 25px;
    font-size: 15px;
    margin:40px auto;
    width:100% !important;
}
.btn.seeall:hover,.findmore:hover{
    background:#1d2d5a !important;
}
.btn.seeall:active,.findmore:active{
    background:#1d2d5a !important;
}
.btn.seeall:focus,.findmore:focus{
    box-shadow:none !important;
}
.display-4{
    color:#1d2d5a;
}
@media (max-width: 768px){
    .sumsung_type {
        flex: 0 0 100%;
        max-width: 100%;
    }
    button.seeall {
        width:150px !important;
    }
    .section_three{
        margin: 0;
    }
}


@media only screen  and (min-width:320px){
    .section-text{
        width:100% !important;
    }
    .section-image{
        width:100% !important;
    }
    .display-4{
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    .product_row1 {
        /* border-bottom: 1px solid lightgray; */
        border-top: 1px solid lightgray;
    }
    .product_row1:last-child{
        border-right: 0px solid
    }
    .product_row2 {
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
    }
    .product_row2:last-child{
        border-right: 0px solid
    }
    nav#breadcrumb{
        display: none !important;
    }
    .first_banner{
        margin-top:15% !important;
    }
    .block{
        top:calc((100% - 50px) / 2) !important;
    }
    .block > h1{
        font-size:30px !important;
        font-weight: bold;
    }
    .findmore{
        border-radius: 25px !important;
        font-size:15px;
        width: 200px;
    }
    .margin-xs{
        margin:30px auto;
    }
    .xs-reverse{
        flex-direction: column-reverse;
    }
    .head_banner{
        background: url('/images/datalogic/datalogic_banner.jpg');
        height: 200px;
        background-position: center;
        background-size:cover;
        background-repeat:no-repeat;
    }
    .overlay{
        position: absolute !important;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #0000008f, transparent);
    }
}
@media (min-width: 330px){
    .findmore{
        border-radius: 25px !important;
    }
    .product-line-style{
        font-size: 16px;
        font-weight: 600;
        color: #292929;
        margin: 30px 0 15px 0;
    }
}
@media (min-width: 375px){
    .first_banner{
        margin-top:10% !important;
    }
    .findmore{
        border-radius: 25px !important;
    }
}
@media only screen  and (min-width:768px){
    .head_banner{
        background: url('/images/datalogic/datalogic_banner.jpg');
        height: 300px;
        background-position: center;
        background-size:cover;
        background-repeat:no-repeat;
    }
    .section-text{
        width: calc((90% + 100px) / 2) !important;
        float: right !important;
    }
    .section-image{
        width:calc((100% - 100px) / 2) !important;
    }
    .display-4{
        font-size: 2rem !important;
        font-weight: bold !important;
    }
    .sumsung_type {
        flex: 0 0 32% !important;
        max-width: 32% !important;
    }
    .product_row1 {
        border-right: 1px solid lightgray !important;
        border-top: 1px solid lightgray !important;
        border-bottom: 0px solid !important;
    }

    .product_row1:nth-child(3n+0){
        border-right: 0px solid !important;
    }
    .product_row2 {
        border-right: 1px solid lightgray !important;
        border-top: 1px solid lightgray !important;
        border-bottom: 0px solid !important;
    }
    .product_row2:nth-child(3n+0){
        border-right: 0px solid !important;
    }
    .first_banner{
        margin-top:5% !important;
    }
    .block{
        top:calc((100% - 100px) / 2) !important;
        height: 100px !important;
    }
    .block > h1{
        font-size:50px !important;
        font-weight: bold;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .content_galaxy_type{
        height:80px;
        font-size:12px;
    }
    .margin-1em{
        margin:1em auto;
    }
    .xs-reverse{
        flex-direction: initial;
    }
    .rowreverse{
        flex-direction: row-reverse;
    }

}
@media (min-width: 1024px){
    .head_banner{
        background: url('/images/datalogic/datalogic_banner.jpg');
        height: 400px;
        background-position: center;
        background-size:cover;
        background-repeat:no-repeat;
    }
    .margin-xs{
        margin:0;
    }
    nav#breadcrumb{
        display: block !important;
    }
    .first_banner{
        margin-top:65px !important;
    }
    .block{
        top:calc((100% - 100px) / 2) !important;
        height: 100px !important;
    }
    .block > h1{
        font-size:50px !important;
        font-weight: bold;
    }
    .findmore{
        border-radius: 25px !important;
    }
    .position_content-right{
        top: calc((100% - 200px) / 2);
    position: absolute;
    right: 0;
    }
    .content_galaxy_type{
        height:auto;
        font-size:14px;
    }
    .margin-1em{
        margin:1.5em;
    }
    .rowreverse{
        flex-direction: initial;
    }
    .overlay{
        position: absolute !important;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #0000008f, transparent);
    }
}
@media (min-width: 1400px){
    .head_banner{
        background: url('/images/datalogic/datalogic_banner.jpg');
        height: 400px;
        background-position: center;
        background-size:100%;
        background-repeat:no-repeat;
    }
    nav#breadcrumb{
        display: block !important;
    }
    .first_banner{
        margin-top:65px !important;
    }
    .block{
        top:calc((100% - 130px) / 2) !important;
        height: 100px !important;
    }
    .block > h1{
        font-size:60px !important;
        font-weight: bold;
    }
    .findmore{
        border-radius: 25px !important;
        font-size:15px;
        width:200px;
    }
    .margin-xs{
        margin:0px auto;
    }
    .xs-reverse{
        flex-direction: row;
    }
    .overlay{
        position: absolute !important;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #0000008f, transparent);
    }
}
