.hide{
    display:none;
}

@media only screen and (max-width:575.98px){
    #breadcrumb{
        display:none;
    }
    .m-xs-auto{
        margin:auto;
    }
    .figure-image{
        width:200px;
        height:auto;
        margin:auto;
    }
    .figure-image img{
        width:100%;
    }
    .flex-half{
        display:flex;
        flex: 0 0 100%;
        max-width:100%;
        margin-top:30px;
        margin-bottom:15px;
    }
    .flex-half.image{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .flex-half.content{
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        padding:0px 0px 0px 0px;
    }
    .banner-img{
        background: url('/images/ecom-ex/smartphone/banner-smartphone.jpg');
        background-size:cover;
        height:150px;
        background-repeat:no-repeat;
    }
    .product-name{
        font-size:20px;
        color:#4a4a4a;
        line-height: 30px;
    }
    .description{
        font-size:18px;
        font-weight: bold;
        color:#4a4a4a;
        margin-top:1rem;
    }
    .article{
        display:block;
    }
    .article-1{
        margin-top:10px;
    }
    .article-p,.li-p{
        font-size:12px;
    }
    .article > strong > p {
        font-size:13px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #breadcrumb{
        display:none;
    }
    .m-xs-auto{
        margin:auto;
    }
    .figure-image{
        width:200px;
        height:auto;
        margin:auto;
    }
    .figure-image img{
        width:100%;
    }
    .flex-half{
        display:flex;
        flex: 0 0 100%;
        max-width:100%;
        margin-top:30px;
        margin-bottom:15px;
    }
    .flex-half.image{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .flex-half.content{
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        padding:0px 0px 0px 0px;
    }
    .banner-img{
        background: url('/images/ecom-ex/smartphone/banner-smartphone.jpg');
        background-size:cover;
        height:150px;
        background-repeat:no-repeat;
    }
    .product-name{
        font-size:20px;
        color:#4a4a4a;
        line-height: 30px;
    }
    .description{
        font-size:18px;
        font-weight: bold;
        color:#4a4a4a;
        margin-top:1rem;
    }
    .article{
        display:block;
    }
    .article-1{
        margin-top:10px;
    }
    .article-p,.li-p{
        font-size:12px;
    }
    .article > strong > p {
        font-size:13px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    
    .m-xs-auto{
        margin:auto;
    }
    .figure-image{
        width:300px;
        height:auto;
        margin:auto;
    }
    .figure-image img{
        width:100%;
    }
    .flex-half{
        display:flex;
        flex: 0 0 100%;
        max-width:100%;
        margin-top:30px;
        margin-bottom:15px;
    }
    .flex-half.image{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .flex-half.content{
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        padding:0px 0px 0px 0px;
    }
    .banner-img{
        background: url('/images/ecom-ex/smartphone/banner-smartphone.jpg');
        background-size:cover;
        height:150px;
        background-repeat:no-repeat;
    }
    .product-name{
        font-size:25px;
        color:#4a4a4a;
        line-height: 30px;
    }
    .description{
        font-size:19px;
        font-weight: bold;
        color:#4a4a4a;
        margin-top:1rem;
    }
    .article{
        display:block;
    }
    .article-1{
        margin-top:20px;
    }
    .article-p,.li-p{
        font-size:13px;
    }
    .article > strong > p {
        font-size:14px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .figure-image{
        width:400px;
        height:auto;
        margin:auto;
    }
    .figure-image img{
        width:100%;
    }
    .flex-half{
        display:flex;
        flex: 0 0 50%;
        max-width:50%;
    }
    .flex-half.image{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .flex-half.content{
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        padding:0px 40px 0px 0px;
    }
    .banner-img{
        background: url('/images/ecom-ex/smartphone/banner-smartphone.jpg');
        background-size:cover;
        height:300px;
    }
    .product-name{
        font-size:30px;
        color:#4a4a4a;
        line-height: 40px;
    }
    .description{
        font-size:20px;
        font-weight: bold;
        color:#4a4a4a;
        margin-top:1rem;
    }
    .article{
        display:block;
    }
    .article-1{
        margin-top:20px;
    }
    .article-p,.li-p{
        font-size:13px;
    }
    
    .article > strong > p {
        font-size:14px;
    }
}

@media only screen and (min-width:1200px){
    .figure-image{
        width:400px;
        height:auto;
        margin:auto;
    }
    .figure-image img{
        width:100%;
    }
    .flex-half{
        display:flex;
        flex: 0 0 50%;
        max-width:50%;
    }
    .flex-half.image{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .flex-half.content{
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        padding:0px 40px 0px 0px;
    }
    .banner-img{
        background: url('/images/ecom-ex/smartphone/banner-smartphone.jpg');
        background-size:cover;
        height:300px;
    }
    .product-name{
        font-size:30px;
        color:#4a4a4a;
        line-height: 40px;
    }
    .description{
        font-size:20px;
        font-weight: bold;
        color:#4a4a4a;
        margin-top:1rem;
    }
    .article{
        display:block;
    }
    .article-1{
        margin-top:20px;
    }
    .article-p,.li-p{
        font-size:13px;
    }
    .article > strong > p {
        font-size:14px;
    }
}