.body-standard{
    margin: 0 75px 0 120px;
}
.ghz{
    font-size: 35px;
    font-weight: 600;
}
.border-right-solid{
    border-right: solid 1px #b5b5b5;
    padding: 30px;
}
.extra-line{
    font-size: 10px;
    text-align: center;
}
.section3_text_line1{
    text-align: left;
    font-size: 40px;
}
.set-middle{
    padding:20px;
    display: flex;
    align-items: center;
    padding: 20px 100px;
}
.section1_text_line_svg{
    text-align: center;
    padding: 20px 100px;
}
/* .section1_text_line2{
    text-align: center;
} */
.section1_text_line2{
    text-align: center;
    padding: 0 10%;
}
.margin-top{
    text-align: left;
    font-size: 15px;
    margin-top: 100px;
}
.set-closer{

        display: flex;
        align-items: center;
        padding: 20px 0 0 200px;
}
.text-js{

        display: flex;
        align-items: center;
        padding: 20px 0 200px 200px;
}
/* .section1_text_line2{
    text-align: left;
} */
.section1_text_line_svg{
    text-align: center;
}
.flex-full{
    flex-direction: row;
    display: flex;
    flex:0 0 50%;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin:auto;
  }
.long-text{
    padding:100px;
}
.select{
    color: rgb(38, 0, 255);
    border: 2px solid black;
    transition: 1s;
}
.bg-body{
        background-image: url("/images/new-website/products/caterpillar/products/t20/BG_product-01.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        height: 100%;
        width: auto;
}
.card-title{
    font-size: 15px;
    font-weight: 600;
    color: #4a4a4a;
}
.text-sec1{
    font-size: 12px;
    font-weight: 200;
}
.accessory-list{
    font-size: 0;
    line-height: 0.5;
}
.accessory-list > li > img{
    width: 80%;
    box-shadow: 6px 6px 15px #b5b5b5bf;
    margin-bottom: 20px;
}
.position-absolute{
    top: 30%;
    text-align: center;
    margin: 0 32%;
}

@media only screen and (min-width:992px){
    .text-box > li > p{
        margin-bottom: 5px;
        font-size: 13px;
    }
    .section-1{
        margin-top: 5%;
        position: relative;
    }
    .position-absolute > h2{
        font-size: 2vw;
        font-weight: 600;
        color: #f0f8ffba;
    }
    .position-absolute > p{
        color: #f0f8ffba;
    }
    .head-text-1{
        margin-bottom: 25px;
        width: max-content;
        text-align: center;
    }
    .head-text-1 > h2{
        color: #3399ff;
        font-size: 2vw;
        font-weight: 600;
        border-bottom: solid 4px #edc91d;
    }
    .head-text-1 > p{
        font-size: 1.2vw;
        margin-top: 0;
    }
    .box-spec{
        margin-top: 50px;
        margin-left: 80px;
    }
    .video-box{
        text-align: end;
        margin: auto;
    }
    .text-3{
        text-align: start;
        margin: auto;

    }
    .text-3 > h2{
        color: #3399ff;
        font-size: 1.4vw;
        font-weight: 600;
    }
    .text-3 > h3{
        font-size: 1vw;
        font-weight: 200;
        color: #4a4a4a;
    }
    .text-3 > p{
        font-size: 0.9vw;
        font-weight: 200;
        color: #4a4a4a;
    }
    .text-3-1{
        margin-top: 20px;
    }
    .text-3-1 > h2{
        margin-bottom: 0%;
        font-size: 1.2vw;
        font-weight: 200;
    }
    .text-3-1 > p{
        font-size: 0.8vw;
        font-weight: 200;
    }
    .pic-1{
        display: none;
    }
}
@media only screen and (max-width:991px){
    .d-bl{
        display: block !important;
    }
    .section-1{
        margin-top: 5%;
    }
    .video-1{
        display: none;
    }
    .pic-1{
        display: block;
    }
    .text-3{
        text-align: start;
        margin: auto;

    }
    .text-3 > h2{
        margin-top: 20px;
        color: #3399ff;
        font-size: 4vw;
        font-weight: 600;
    }
    .text-3 > h3{
        font-size: 1vw;
        font-weight: 200;
        color: #4a4a4a;
    }
    .text-3 > p{
        font-size: 1.9vw;
        font-weight: 200;
        color: #4a4a4a;
    }
    .text-box{
        line-height: 18px !important;
    }
}
@media only screen and (max-width:500px){
    .body-standard {
        margin: 0px 25px 0 40px;
    }
    .breadcrumb-item > a ,
    .m-auto{
        font-size: 11px !important;
    }
    .text-box{
        line-height: 4vw !important;
        font-size: 10px;
    }
    .text-box li p {
        margin-bottom: 0;
    }
    .text-3 > h2{
        font-size: 4vw;
    }
    .text-3 > p{
        font-size: 2.5vw;
    }
    .thumbnails {
        top: 100px;
    }
    .pic-thumbnail{
        padding-left: 66px !important;
        margin-top: 0 !important;
    }
    .ul-product {
        width: 35% !important;
    }

}
