
@media (min-width: 992px) {



    .text-banner{
        position: absolute;
        top: 40%;
        left: 0;
        right: 6%;
        text-align: right;
    }
    .text-banner h2{
        font-family: quicksand;
        color: white;
        font-size: 46px;
        font-weight: 600;
        text-shadow: 2px 2px 8px #2c2b2b;
    }

    .btn{
        margin-top: 20px;
    }
    .btn-banner{
        width: 220px;
        height: 45px;
        border-radius: 25px;
        border: none;
        background-color: #3399ff87;
        color: #00ffff;
        font-size: 18px;
        font-family: quicksand;
        font-weight: 600;
        letter-spacing: 0.5px;
        box-shadow: 3px 3px 7px 2px #3333335c;
        transition: 0.4s;
    }
    .btn-banner:hover{
        background-color: #3399ffcc;
        color: white;
        box-shadow: 3px 3px 7px 2px #3333337a
    }
    .bg-cus{
        background-image: url('/images/new-website/customers/Web_customer_1080.jpg');
        background-size: contain;
        height: auto;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .text-service1{
        text-align: right;
        padding-top: 2%;
        padding-right: 6%;

    }

    .text-service1 p{
        font-family: quicksand;
        color: #b3b3b3;
        font-size: 18px;
        line-height: 28px;
    }
    .header-Corporate{
        margin: 7% 27% 3% 0;
        text-align: right;
        padding-right: 9%;
        font-size: 44px;
        color: #4d4d4d;
        font-family: quicksand;
    }
    .header-Corporate-2{
        margin: 7% 27% 3% 0;
        padding-right: 2%;
        text-align: right;
        font-size: 44px;
        color: #4d4d4d;
        font-family: quicksand;
    }
    .flex-12{
        display: flex;
        padding: 0px 12%;
    }
    .section-3 > .container-fluid > .flex-12{
        padding: 0px 9% 0 14% !important;
    }
    .flex-3{
        flex: 0 0 25%;
        max-width: 25%;
        width: 100%;
        height: auto;
        background-color: #eeeeeedb;
        margin: 15px;
        margin-bottom: 10%;
        box-shadow: 4px 4px 14px #00000033;
    }
    .flex-4{
        flex: 0 0 33.333%;
        max-width: 33.333%;
        width: 100%;
        height: auto;
        /* background-color: #eeeeeedb; */
        /* margin: 15px; */
        margin-bottom: 0;
        /* box-shadow: 4px 4px 14px #00000033; */
    }
    .pd-img{
        padding: 0 20%;
    }
    .flex-4 h4{
        margin: 7% 0 2% 14%;
        font-family: quicksand;
    }
    .flex-4 p{
        color: #b3b3b3;
        font-family: quicksand;
        padding: 0 15% 15% 15%;
    }
    .header-brand h3{
        font-size: 2.575rem;
        color: #3399ff;
        text-align: center;
        /* font-family: quicksand; */
        margin-top: 5%;
    }
    .flex-2{
        flex:0 0 16.667%;
        max-width: 16.667%;
    }
    .copy-right{
        text-align: right;
        height: 50px;
        background-color: #4d4d4d;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    .copy-right p{
        color: #f2f2f2;
        margin: 0;
        margin-right: 3%;
        letter-spacing: 0.5px;
        font-weight: 300;
    }
    .text-cus{
        text-align: center;
    }
    .text-cus h3{
        font-family: quicksand;
        color: #4d4d4d;
        font-size: 23px;
        margin-bottom: 1rem;
    }
    .text-cus p{
        font-family: quicksand;
        color: #909090;
        text-align: center;
        padding: 0 12%;
    }
    .img-banner{
        background-image: url('/images/new-website/services/bg_pic_web-01.jpg');
        width: 100%;
        height: 70vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 50%;
        filter: brightness(0.7);
    }
    .icon-cus{
        padding: 60px 20%;
    }
}
