
body{
  background-color: white;
  overflow-x:hidden;
}
.font-weight-600{
  font-weight: 600;
}
.my-button{
  border-radius:25px;
  background:transparent;
  border:1px solid white;
  color:white;
  width:180px;
  margin:20px auto;
  transition: 0.5s;
  transition-timing-function: ease;
}
.my-button:hover{
  background:white;
  color:black;
  border:1px solid black;
}
.my-button:active{
  border:none;
}
.my-button:focus{
  outline:0px;
}
.mt-lg-5{
  margin-top:7rem !important;
}
.font-400{
  font-weight: 400;
}
.flex-direction-row{
  flex:0 0 100%;
  max-width: 100%;
  flex-direction: row;
}
.slider{
  top:64px;
}
.block_product:hover{
  transition: 0.5s;
  transition-timing-function: ease;
  background-color: #ebebeb
}
.block_product > img{
  margin-top:20px;
}
.my-container{
  max-width: 1280px;
}
a > .see_all_tablet{
  font-family: 'Poppins';
  color:rgb(0, 0, 0);
  letter-spacing: 0.12em;
}

h1{
  font-family: 'Poppins';
}
.small-text-section4{
  font-family: 'Poppins' !important;
}

.button{
  color:rgb(73, 73, 73);
  transition: 0.5s;
  transition-timing-function: ease;
}
.button:hover{
  color:black;
  background-color: transparent !important;
}
.button:active{
  background-color: transparent !important;
  box-shadow: none !important;
}
.button--close{
  transition: 0.5s !important;
  transition-timing-function: ease !important;
}
.button--close:hover{
  color:white !important;
  transition: 0.5s !important;
}
.button--close:active{
  color:white !important;
  transition: 0.5s !important;
}
.myfa-chevron-left,
.myfa-chevron-right,
.myfa-search{
  width: 19px;
    height: 19px;
    background: #4d4d4d;
    position: relative;
    display: block !important;
}
.slide__title>.product_name{
  font-weight: bold;
}

@media (max-width: 575px) {

  .content--open{
    margin-top:70px;
    padding-top:0;
  }
  .content--open > .content__item{
    min-height: 800px;
    height: 100%;
    max-height: 1000px;
  }
  
  .small {
    font-size:13px;
    margin:10px auto;
  }
  .section_three > .row{
    flex-direction: column;
  }
  .block_product{
    flex:0 0 80%;
    max-width:80%;
    margin:40px auto;
    text-align: center;
    background-color: #f9f9f9;
  }
  .block_content{
  max-width:100%;
  flex:0 0 100%;
  padding:30px;

  }
  .block_image{
    max-width:100%;
    flex:0 0 100%;

  }
  .section_four > .row{
    flex-direction: column;
  }
  .head-text-section4{
    font-size:30px;
    font-weight: bold;
  }
  .small-text-section4{
    font-size:13px;
    font-weight: 300;
  }
  .container {
    padding: 0;
  }
  .choose_your_tablet{
    font-size:20px;
  }
  .see_all_tablet{
    font-size:13px;
    cursor: pointer;
    margin-bottom:50px;
  }
  .img_banner{
    background-image: url('../../../../../../_assets/images/slides/GTA_2.jpg');
    height:320px;
    background-size:100%;
    background-position: 0 60px;
    background-repeat: no-repeat;
  }
  .product_name{
    font-size:18px !important;
    margin-top:20px;
  }
  .block_image_type > img{
    width:70%;
    margin:auto;
  }
  .figure_img_section4{
    text-align: center;
  }
  .figure_img_section4 > img{
    width:300px;
    margin:auto;
  }
  .popup-subhead{
    font-size:18px !important;
    color:white !important;
    font-family: 'Poppins';
  }
  .popup-head{
    font-size:35px !important;
    font-weight: bold !important;
    font-family: 'Poppins';
    
  }
  .button--close{
    margin-right:0 !important;
  }
  .s5e_content{
    position: absolute;
    right: 40px;
    margin: auto;
    margin-top: 4vw;
  }
  .s5e_content_text{
    font-size:4vw;
  }
  
}
@media (min-width: 576px) and (max-width: 767.98px)  {
  .content--open{
    margin-top:70px;
    padding-top:0;
  }
  .small {
    font-size:13px;
    margin:10px auto;
  }
  .section_three > .row{
    flex-direction: column;
  }
  .block_product{
    flex:0 0 80%;
    max-width:80%;
    margin:40px auto;
    text-align: center;
    background-color: #f9f9f9;
  }
  .block_content{
  max-width:100%;
  flex:0 0 100%;
  padding:30px;

  }
  .block_image{
    max-width:100%;
    flex:0 0 100%;

  }
  .section_four > .row{
    flex-direction: column;
  }
  .head-text-section4{
    font-size:30px;
    font-weight: bold;
  }
  .small-text-section4{
    font-size:13px;
    font-weight: 300;
  }
  .container {
    padding: 0;
  }
  .choose_your_tablet{
    font-size:20px;
  }
  .see_all_tablet{
    font-size:13px;
    cursor: pointer;
  }
  .img_banner{
    background-image: url('../../../../../../_assets/images/slides/GTA_2.jpg');
    height:400px;
    background-size:100%;
    background-position: 0 60px;
    background-repeat: no-repeat;
  }
  .product_name{
    font-size:20px !important;
    margin-top:20px;
  }
  .block_image_type > img{
    width:70%;
    margin:auto;
  }
  .figure_img_section4{
    text-align: center;
  }
  .figure_img_section4 > img{
    width:300px;
    margin:auto;
  }
  .popup-subhead{
    font-size:20px !important;
    color:white !important;
    font-family: 'Poppins';
  }
  .popup-head{
    font-size:50px !important;
    font-weight: bold !important;
    font-family: 'Poppins';
    margin:10px auto;
    
  }
  .button--close{
    margin-right:0 !important;
  }
  
  .s5e_content{
    position: absolute;
    right: 40px;
    margin: auto;
    margin-top: 3.5vw;
  }
  .s5e_content_text{
    font-size:4vw;
  }
 
 
}
@media (min-width: 768px) and (max-width: 991.98px)  {
  .content--open{
    margin-top:70px;
    padding-top:0;
  }
  .small {
    font-size:13px;
    margin:10px auto;
  }
  .section_three > .row{
    flex-direction: column;
  }
  .block_product{
    flex:0 0 80%;
    max-width:80%;
    margin:40px auto;
    text-align: center;
    background-color: #f9f9f9;
  }
  .block_content{
  max-width:100%;
  flex:0 0 100%;
  padding:30px;

  }
  .block_image{
    max-width:100%;
    flex:0 0 100%;

  }
  .section_four > .row{
    flex-direction: column;
  }
  .head-text-section4{
    font-size:30px;
    font-weight: bold;
  }
  .small-text-section4{
    font-size:13px;
    font-weight: 300;
  }
  .container {
    padding: 0;
  }
  .choose_your_tablet{
    font-size:18px;
  }
  .see_all_tablet{
    font-size:13px;
    cursor: pointer;
  }
  .img_banner{
    background-image: url('../../../../../../_assets/images/slides/GTA_2.jpg');
    height:500px;
    background-size:100%;
    background-position: 0 60px;
    background-repeat: no-repeat;
  }
  .product_name{
    font-size:22px !important;
    margin-top:20px;
  }
  .block_image_type > img{
    width:70%;
    margin:auto;
  }
  .figure_img_section4{
    text-align: center;
  }
  .figure_img_section4 > img{
    width:400px;
    margin:auto;
  }
  .popup-subhead{
    font-size:18px !important;
    color:white !important;
    font-family: 'Poppins';
  }
  .popup-head{
    font-size:50px !important;
    font-weight: bold !important;
    font-family: 'Poppins';
    
  }
  .button--close{
    margin-right:0 !important;
  }
  .s5e_content{
    position: absolute;
    right: 30px;
    margin: auto;
    margin-top: 3vw;
  }
  .s5e_content_text{
    font-size:4.5vw;
  }
  
}
@media (min-width: 992px) and (max-width: 1199.98px)  {
  .small {
    font-size:13px;
    margin:10px auto;
  }
  .section_three > .row{
    flex-direction: row;
  }
  .block_product{
    flex:0 0 80%;
    max-width:80%;
    margin:40px auto;
  }
  .block_content{
  max-width:100%;
  flex:0 0 100%;
  padding:30px;

  }
  .block_image{
    max-width:100%;
    flex:0 0 100%;

  }
  .section_four > .row{
    flex-direction: row;
  }
  .head-text-section4{
    font-size:30px;
    font-weight: bold;
  }
  .small-text-section4{
    font-size:13px;
    font-weight: 300;
  }
  .container {
    padding: 0;
  }
  .choose_your_tablet{
    font-size:20px;
  }
  .see_all_tablet{
    font-size:13px;
    cursor: pointer;
  }
  .img_banner{
    background-image: url('../../../../../../_assets/images/slides/GTA_2.jpg');
    height:500px;
    background-size:100%;
    background-position: 0 60px;
    background-repeat: no-repeat;
  }
  .product_name{
    font-size:22px !important; 
    margin-top:20px;
  }
  .block_product{
    display: flex;
    flex:0 0 31%;
    max-width:31%;
    margin: auto;
    background-color: #f9f9f9;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding:20px;
    transition:0.5s;
    transition-timing-function: ease;
  }
  .block_content{
    display: flex;
    flex: 0 0 49%;
    max-width:49%;
    flex-direction: column;
    padding:20px;
    justify-content: center;
  }
  .block_image{
    padding:20px;
    display: flex;
    flex: 0 0 49%;
    max-width:49%;
    justify-content: space-around;
  }
  .block_image_type{
    text-align: center;
  }
  .block_image_type > img{
    width:70%;
    margin:auto;
  }
  .figure_img_section4 > img{
    width:350px;
  }
  .popup-subhead{
    font-size:30px !important;
    color:white !important;
    font-family: 'Poppins';
  }
  .popup-head{
    font-size:65px !important;
    font-weight: bold !important;
    font-family: 'Poppins';
    
  }
  .my-button > p{
    margin: 10px auto;
  }
  .s5e_content{
    position: absolute;
    right: 80px;
    margin: auto;
    margin-top: 3vw;
  }
  .s5e_content_text{
    font-size:4.5vw;
  }
}
@media (min-width: 1200px) {
  .section_four .row{
    margin:50px auto;
    flex-direction: row;
  }
  .head-text-section4{
    font-size:70px;
    font-weight: bold;
  }
  .small-text-section4{
    font-size:15px;
    font-weight: 300;
  }
  .small{
    font-size:14px !important;
    margin:10px auto;
  }
  figure{
    margin:0;
  }
  .block_image_type{
    width:200px;
    height: 250px;
  }
  .choose_your_tablet{
    font-size:30px;
  }
  .see_all_tablet{
    font-size:15px;
    cursor: pointer;
    /* color:#747474; */
    transition: 0.5s;
    transition-timing-function: ease;
  }
  .see_all_tablet:hover{
    /* color:#313131; */
    transition: 0.5s;
  }
  .img_banner{
    background-image: url('../../../../../../_assets/images/slides/GTA_2.jpg');
    height:800px;
    background-size:100%;
    background-position: 0 60px;
    background-repeat: no-repeat;
  }
  .product_name{
    font-size:25px !important;
    margin-top:0px;
    padding-top:0;
  }
  .figure_img_section4{
    width:500px;
    height:400px;
    padding-top:35px;
  }
  .block_product{
    display: flex;
    flex:0 0 31%;
    max-width:31%;
    margin: auto;
    background-color: #f9f9f9;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding:20px;
    transition:0.5s;
    transition-timing-function: ease;
  }
  .block_content{
    display: flex;
    flex: 0 0 49%;
    max-width:49%;
    flex-direction: column;
    padding:20px;
    justify-content: center;
  }
  .block_image{
    padding:20px;
    display: flex;
    flex: 0 0 49%;
    max-width:49%;
    justify-content: space-around;
  }
  .block_image_type > img{
    width:100%;
    margin:auto;
  }
  .figure_img_section4 > img{
    width:100%;
  }
  .popup-subhead{
    font-size:30px !important;
    color:white !important;
    font-family: 'Poppins';
  }
  .popup-head{
    font-size:80px !important;
    font-weight: bold !important;
    font-family: 'Poppins';
    
  }
  .s5e_content{
    position: absolute;
    right: 18%;
    margin: auto;
    top:35%;
  }
  .s5e_content_text{
    font-size:45px;
    font-weight: bold;
  }
  .banner_tabs5e{
    position: relative;
  }
}





/*# sourceMappingURL=main.css.map */