:root {
    --sumsung_font:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


/// insert
@media (max-width:575px){
    .container{
        padding:0;
    }
}
.banner-header{
    padding:10%;
    img{
        width:100%;
    }
    // background: url('../image/banner-header.png') no-repeat;
    // width: 100%;
    // height: 60vh;
}
.background-black{
    background: #000000;
    width:100%;
    color: #fff;
    // height: 10px;
    
    .banner-tab-s{
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width:992px) {
            flex-direction: column;
        }
        .image-tab-s{
            text-align: center;
            flex:2;  
            margin:50px;
            img{
                width: 90%;
            }          
        }
        .detail-tab-s{
            flex:1;
            margin:50px 50px 0;
            @media(max-width: 1200px){
                h1{
                    font-size:35px;
                }
            }
            @media (max-width:992px) {
                text-align: center;
            }
            .btn.seeall{
                border-radius: 25px;
                font-size: 15px;
                margin-bottom: 40px;
                margin-top: 10px;
                width:150px;
            }
        }
    }

    .banner-tab-a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse; 
        @media (max-width:992px) {
            flex-direction: column;
        }
        .image-tab-a{
            text-align: center;
            flex:1.5;  
            margin:50px 50px 0;
            width: 100%;
            img{
                width: 100%;
            }        
        }
        .detail-tab-a{
            margin:50px 50px 0;
            @media(max-width: 1200px){
                // margin:50px;
                h2{
                    font-size:30px;
                }
            }
            @media (max-width:992px) {
                text-align: center;
            }
            flex:1;
            .btn.seeall{
                border-radius: 25px;
                font-size: 15px;
                margin-bottom: 40px;
                margin-top: 10px;
                width:150px;
            }
        }
    }

}


//

.title_text{
    font-weight: 450;
    font-size: 22px;
    font-family: var(--sumsung_font);
}
.content_text{
    cursor: pointer;
    font-family: var(--sumsung_font);
    
}

.sumsung_type{
    background-color: #e9e9e9;
    height:auto;
    width:100%;
    margin:10px;
    text-align: center;
    transition: background-color 0.4s ease-in-out;
}
.sumsung_type:hover{
    background-color: rgb(206, 206, 206);
    box-shadow: 0px 0px 100px 0px inset rgb(209, 209, 209);
}
.section_three{
    margin:80px;
}
.image_type > img{
    width:80%;
    position: relative;
    margin-top: 30px;
    
}
.content_galaxy_type{
    font-size: 15px;
}
.btn.seeall{
    border-radius: 25px;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 10px;
    width:100%;
}
@media (min-width: 768px){
    .sumsung_type {
        flex: 1 !important;
        // max-width: 43% !important;
    }
    button.seeall {
        width:150px !important;
    }
    
}
@media (max-width: 768px){
    .sumsung_type {
        flex: 0 0 100%;
        max-width: 100%;
        margin:10px 0px;
    }
    button.seeall {
        width:150px !important;
    }
    .section_three{
        margin: 0;
    }
}
