.link-learnmore{
    letter-spacing: 2px;
    color: #A4CA39;
    font-weight: 600;
    font-size: 16px;
}
.link-learnmore:hover{
    text-decoration: none;
    color: #A4CA39;
}
.link-learnmore::after{
    content: " >"
}


.padding-20{
    padding: 10% 0;
}


.underline-animation::after{
    background: #A4CA39 ;
    height: 2px;
}


.underline-animation:hover::after{
    width: 30%;

}

.manage-p{
    width: 450px;
    padding: 10px 0;
}

.banner-background{
    background: url("/images/42gears/landing-page/IoT-Banner-3.png");
    height: 400px;
    position: relative;
}

.img-visionary{
    position: absolute;
    width: 500px;
}

.flex-1{
    display: flex;
    flex: 0 0 60%;
    width: 60%;
    height: 400px;
    align-items: center;
    justify-content: center;
}
.flex-2{
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    width: 40%;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.text-banner{
    width: 400px;
    color: white;
    letter-spacing: 3px;
    line-height: 50px;
    margin-top: 30px;
}

.img-42gears{

    width: 400px;
}



/* mobile */
@media (max-width: 991.98px) {
    .text-banner{
        display: none;
    }
    .img-visionary{
        position: absolute;
        width: 500px;
    }

    .img-42gears {
        width: 50%;
        position: absolute;
        top: 20px;
        left: 30px;
    }
    .img-visionary {
        position: absolute;
        width: 75%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .container{
        padding: 0 10%;
    }
    .manage-p{
        width: 100%;
    }

    .mobile-img{
        display: none;
    }

}

@media only screen and (min-width:992px){
    .mobile-img{
        display: flex;
    }
}




[data-aos="my-aos"] {
    opacity: 0;
    transition-property: 0.4s !important;
    transform: translateY(50px);
  }
  [data-aos="my-aos"].aos-animate {
    opacity: 1;
    transform: translateY(0px);
  }

