.banner-header {
    height: 60vh;
    position: relative;
    overflow: hidden;
  }
  
  #myVideo {
    position: relative;
    top: -50%;
    left: 0;
    min-width: 100%;
    width: 100%;
    z-index: -99;
  }
  
  .title-header img {
    margin: 50px 0;
  }
  
  .skewedimg1 {
    position: relative;
    background-attachment: fixed;
  }
  
  @media (min-width: 768px) {
    .skewedimg1 {
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
              clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    }
  }
  
  .bg-mobile {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../../images/aboutus/about1.jpg) center center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../images/aboutus/about1.jpg) center center;
    background-attachment: fixed;
    min-height: 65vh;
  }
  
  .skewedimg2 {
    position: relative;
    margin: 100px 0;
  }
  
  @media (min-width: 768px) {
    .skewedimg2 {
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 90%);
    }
  }
  
  .bg-mobile2 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../../images/aboutus/about3.jpg) center center no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../images/aboutus/about3.jpg) center center no-repeat;
    background-attachment: fixed;
    min-height: 65vh;
  }
  
  .skewedimg3 {
    position: relative;
    margin: 100px 0 0;
  }
  
  @media (min-width: 768px) {
    .skewedimg3 {
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
  }
  
  .bg-mobile3 {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../../../images/aboutus/about2.jpg) center center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../images/aboutus/about2.jpg) center center;
    background-attachment: fixed;
    min-height: 65vh;
  }
  
  .session-vad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 60vh;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sub-mobile {
    padding: 0 10% 0 10%;
  }
  
  @media (max-width: 575.98px) {
    .sub-mobile {
      text-align: center;
    }
  }
  
  @media (min-width: 576px) {
    .sub-mobile {
      text-align: center;
    }
  }
  
  .content-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  
  @media (max-width: 575.98px) {
    .row-img img {
      width: 180px;
      font-weight: 800;
    }
  }
  
  @media (min-width: 576px) {
    .row-img img {
      width: 100px;
    }
  }
  
  @media (min-width: 768px) {
    .row-img img {
      width: 90px;
    }
  }
  
  .row-img p {
    margin: 1em 0 0;
  }
  
  @media (max-width: 575.98px) {
    .row-img p {
      font-size: 20px;
    }
  }
  
  @media (min-width: 576px) {
    .row-img p {
      font-size: 18px;
    }
  }
  
  @media (min-width: 768px) {
    .row-img p {
      font-size: 16px;
    }
  }
  
  .showme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .showme h3 {
    font-weight: 600;
    padding-bottom: 3%;
  }
  
  .block-business {
    padding: 3% 0 2% 0;
  }
  
  .block-business .col-md-3 {
    padding-bottom: 1%;
  }
  /*# sourceMappingURL=style.css.map */