.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* background-image: url(../../../../images/ivymobility/landing-page/enabling-sales.png); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    background-size: cover;

    display: flex;
}

@media (min-width: 992px){
    .hidden-desktop{
        display: none;
    }
    .img-banner{
        background-image: url('/images/new-website/products/ivymobility/sales-force/banner 1920-01.jpg');
        width: 100%;
        height: 100vh;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .img-banner p{
        position: absolute;
        right: 7%;
        text-align: right;
        bottom: 5%;
        width: 60%;
        font-size: 13px;
        color: #707070;
    }
    .img-bg{
        background-image: url("/images/new-website/products/ivymobility/sales-force/bg_1920.jpg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
    }

    .bg-body{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        /* background-size: cover; */
        background-size: contain;
    }
    .img-bg2 > div > .content-box{
        padding-bottom: 75px !important;
    }
    .img-bg2 >.block-60 > h3 {
        padding-top: 18%;
    }
    .img-bg3 >.block-60 > h3 {
        padding-top: 18%;
    }
    .img-bg4 >.block-60 > h3 {
        padding-top: 18%;
    }
    .img-bg5 >.block-60 > h3 {
        padding-top: 18%;
    }
    .img-bg6 >.block-60 > h3 {
        padding-top: 18%;
    }
    .img-bg7 >.block-60 > h3 {
        padding-top: 18%;
    }
    .img-bg1{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 70vh;
    }
    .content-box{
        padding-left: 15%;
    }
    .img-bg2{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 20%;
        height: 75vh;
     }
    .img-bg3{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-3.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 20%;
        height: 75vh;
    }
    .img-bg4{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-4.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 20%;
        height: 75vh;
    }
    .img-bg5{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-5.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 70vh;
    }
    .img-bg6{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-6.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 70vh;
    }
    .img-bg7{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-7.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 70vh;
    }
    .block-60{
        width: 55%;
        padding-right: 10%;
        margin-left: auto;
        text-align: right;
    }
    .img-bg1 >.block-60 > h3{
        padding-top: 18%;
    }
    .header-text {
        /* font-size: 28px; */
        /* padding-bottom: 50px;
        padding-top: 100px; */
        /* font-weight: 400; */
        /* color: #3399ff; */
        /* font-size: 30px; */
        font-weight: 700;

        font-size: 2.4vw;
        color: #3399ff;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .content-box {
        font-weight: 400;
        padding-bottom: 135px;
        font-family: quicksand;
        color: #707070;
        line-height: 1.5;
        font-size: 1.0vw;
    }
    .img-bg1 > div > .header-text{
        margin-top: 100px;
    }
    .img-bg2 > div > .header-text{
        margin-top: 100px;
    }
    .img-bg3 > div > .header-text{
        margin-top: 100px;
    }
    .img-bg4 > div > .header-text{
        margin-top: 100px;
    }
    .img-bg5 > div > .header-text{
        margin-top: 100px;
    }
    .img-bg6 > div > .header-text{
        margin-top: 100px;
    }
    .img-bg7 > div > .header-text{
        margin-top: 100px;
        padding-left: 50px;
    }
    .text-box {
        padding-bottom: 30px;
    }

    .text-box p {
        padding-top: 1%;
    }
    .text-box .header-hov{
        font-size: 1.2vw;
        margin: 0;
        font-weight: bolder;
    }

    .img-bg3 .content-box h3{
        font-size: 19px;
    }
    .img-bg3 .content-box p{
        font-size: 13px;

    }
}



@media (min-width: 768px) and (max-width: 991.98px) {

    .img-banner{
        background-image: url('/images/new-website/products/ivymobility/sales-force/ivy product_750-01.jpg');
        height: 100vh;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .img-banner p{
        position: absolute;
        bottom: 7%;
        text-align: right;
        padding-left: 15%;
        padding-right: 30px;
        color: #707070;
    }

    .img-m-sec1 {
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 50vh;
        margin-left: 10%;
        margin-bottom: 15%;
    }
    .img-m-sec2{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 60vh;
        margin-left: 30%;
        margin-bottom: 20%;
    }
    .img-m-sec3{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-3.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 60vh;
        margin-left: 30%;
        margin-bottom: 20%;
    }
    .img-m-sec4{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-4.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 60vh;
        margin-left: 30%;
        margin-bottom: 20%;
    }
    .img-m-sec5{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-5.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 50vh;
        margin-left: 10%;
        margin-bottom: 15%;
    }
    .img-m-sec6{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-6.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 50vh;
        margin-left: 10%;
        margin-bottom: 15%;
    }
    .img-m-sec7{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-7.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 50vh;
        margin-left: 10%;
        margin-bottom: 15%;
    }
    .img-bg2 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg2 .header-text{
        font-size: 25px;
        color: #3399ff;
    }
    .img-bg2{
        text-align: right;
    }
    .img-bg1 {
        text-align: right;
        padding-left: 15%;
        padding-right: 30px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg1 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg1 .header-text{
        font-size: 24px;
        color: #3399ff;
    }

    .img-bg2 {
        text-align: right;
        padding-left: 15%;
        padding-right: 30px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg2 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg2 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .img-bg3 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .img-bg3 {
        text-align: right;
        padding-left: 15%;
        padding-right: 30px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg3 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg4 {
        text-align: right;
        padding-left: 15%;
        padding-right: 30px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg4 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg4 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .img-bg5 {
        text-align: right;
        padding-left: 15%;
        padding-right: 30px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg5 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg5 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .img-bg6 {
        text-align: right;
        padding-left: 15%;
        padding-right: 30px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg6 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg6 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .img-bg7 {
        text-align: right;
        padding-left: 15%;
        padding-right: 30px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg7 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg7 .header-text{
        font-size: 24px;
        color: #3399ff;
    }

}

@media (max-width: 767.98px) {
    .img-banner{
        background-image: url('/images/new-website/products/ivymobility/sales-force/ivy product_750-01.jpg');
        height: 100vh;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .img-banner p{
        position: absolute;
        bottom: 12%;
        text-align: right;
        padding-left: 15%;
        padding-right: 15px;
        color: #707070;
    }

    .img-m-sec1 {
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 50vh;
        margin-left: 10%;
    }
    .img-m-sec2{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 60vh;
        margin-left: 15%;
        margin-bottom: 20%;
    }
    .img-m-sec3{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-3.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 60vh;
        margin-left: 15%;
        margin-bottom: 20%;
    }
    .img-m-sec4{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-4.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 60vh;
        margin-left: 15%;
        margin-bottom: 20%;
    }
    .img-m-sec5{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-5.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 50vh;
        margin-left: 10%;
    }
    .img-m-sec6{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-6.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 50vh;
        margin-left: 10%;
    }
    .img-m-sec7{
        background-image: url('/images/new-website/products/ivymobility/sales-force/sale-7.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 5%;
        height: 50vh;
        margin-left: 10%;
    }
    .img-bg2 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg2 .header-text{
        font-size: 25px;
        color: #3399ff;
    }
    .img-bg2{
        text-align: right;
    }
    .img-bg1 {
        text-align: right;
        padding-left: 7%;
        padding-right: 15px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg1 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg1 .header-text{
        font-size: 24px;
        color: #3399ff;
    }

    .img-bg2 {
        text-align: right;
        padding-left: 7%;
        padding-right: 15px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg2 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg2 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .img-bg3 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .img-bg3 {
        text-align: right;
        padding-left: 7%;
        padding-right: 15px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg3 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg4 {
        text-align: right;
        padding-left: 7%;
        padding-right: 15px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg4 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg4 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .img-bg5 {
        text-align: right;
        padding-left: 7%;
        padding-right: 15px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg5 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg5 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .img-bg6 {
        text-align: right;
        padding-left: 7%;
        padding-right: 15px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg6 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg6 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .img-bg7 {
        text-align: right;
        padding-left: 7%;
        padding-right: 15px;
        margin-bottom: 30px;
        color: #707070;
    }
    .img-bg7 .text-box h3{
        font-size: 21px;
        padding-left: 15%;
        font-weight: 300;
    }
    .img-bg7 .header-text{
        font-size: 24px;
        color: #3399ff;
    }
    .content-box{
        padding-left: 15px;
    }
    .sec-3-m{
        display: none;
    }
    .desktop-slide{
        display: none;
    }
    .flickity-viewport{
        height: 521px !important;
    }
    /* Flickity */
    .carousel-cell{
        width: 74%;
        height: 468px !important;
        margin-right: 20px !important;
        margin-bottom: 10px;
        background: rgb(179, 179, 179) !important;
        border-radius: 14px !important;
        counter-increment: carousel-cell;
    }
    .carousel-cell-1{
        width: 74%;
        height: 468px !important;
        margin-right: 20px !important;
        margin-bottom: 10px;
        margin-top: 15px;
        /* background-image: url("/images/new-website/partners/pic_partner-01.png") !important; */
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 14px !important;
        counter-increment: carousel-cell;
    }
    .carousel-cell-2{
        width: 74%;
        height: 468px !important;
        margin-right: 20px !important;
        margin-bottom: 10px;
        margin-top: 15px;
        /* background-image: url("/images/new-website/partners/pic_partner-02.png") !important; */
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 14px !important;
        counter-increment: carousel-cell;
        left: 80.14% !important;
    }
    .carousel-cell-3{
        width: 74%;
        height: 468px !important;
        margin-right: 20px !important;
        margin-bottom: 10px;
        margin-top: 15px;
        /* background-image: url("/images/new-website/partners/pic_partner-03.png") !important; */
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 14px !important;
        counter-increment: carousel-cell;
        left: 159.28% !important;
    }
    .carousel-cell-4{
        width: 74%;
        height: 468px !important;
        margin-right: 20px !important;
        margin-bottom: 10px;
        margin-top: 15px;
        /* background-image: url("/images/new-website/partners/pic_partner-04.png") !important; */
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 14px !important;
        counter-increment: carousel-cell;
        left: 238.78% !important;
    }
    /* Hover */
    .block-hover-1{
        width: 265px;
        height: 100%;
        /* background: rgb(1,55,144); */
        /* background: linear-gradient(0deg, rgba(1,55,144,0.85) 0%, rgba(23,71,179,0.5) 23%,rgba(1,148,134,0.17) 58%,rgba(0,255,205,0.01) 87%); */
        transition: height 1s;
        position:absolute;
        bottom:0;
        overflow:hidden;
        border-radius: 14px ;
        padding: 25px;
        box-shadow: 4px 9px 19px 2px #c2c2c28c;
    }
    /* .block-hover-1:hover{
        height: 530px;
    } */
    .block-hover-1 > h2{
        font-family: quicksand;
        line-height: 1.5;
        font-size: 25px;
        font-weight: 800;
        color: white;
        margin-top: 171px;
    }
    .block-hover-1 > p{
        line-height: 1.5;
        font-size: 16px;
        color: #b3b3b3;
        text-align: center;
        font-family: quicksand;

    }
    .carousel{
        background: none !important;
        margin-bottom: 30px;
        counter-reset: carousel-cell;
    }
    .flickity-slider{
        left: 5% !important;
    }
    .carousel--show-several .carousel-cell{
        width: 26% !important;
    }
    .flickity-page-dots{
        width: 57% !important;
        bottom: 0px !important;
        left: 25%  !important;
    }
}
