
///// Function Media Screen  ///////
@mixin screen-xs() {
    @media (max-width: 575.98px) {
        @content;
    }
}
@mixin screen-sm() {
    @media (min-width: 576px) {
        @content;
    }
}
@mixin screen-md() {
    @media (min-width: 768px) {
        @content;
    }
}
@mixin screen-lg() {
    @media (min-width: 992px) {
        @content;
    }
}
@mixin screen-xl() {
    @media (min-width: 1200px) {
        @content;
    }
}
/////////////////////////////////////////

// @import '~_assets/css/product-detail'

.banner-ram-1{
    background: url('../images/light-mount-builder.jpg') no-repeat;
    position: relative;
    display: flex;
}

.content-absolute-center {
    margin-left: 0px;
    text-align: center;
    top:50%;
    left:50%;
    @include screen-sm()
    {
        left:0%;
        text-align: left;
        margin-left: 50px;
        transform: translateY(-50%);

    }
    position: absolute;
    transform: translate(-50%, -50%);
}

.content-absolute-bottom {
    position: absolute;
    width: 80%;
    bottom:50%;
    left:50%;
    transform: translate(-50%, 50%);
    @include screen-sm()
    {
        bottom:10%;
        // left:50%;
        transform: translate(-50%, 0%);

    }
}